<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>EMS快递</title>
</head>
<body {if $smarty.request.print == 1}onload="window.print()"{/if}>

{foreach from=$invoicePrint item=invoice } 
<div style="position:absolute;font-size:10pt;top:50px;left:50px;">{if $SINRI_FROM_COMPANY eq "HZCGP"}杭州市邮政局{else}东莞市邮政局{/if}</div>
<div style="position:absolute;font-size:10pt;top:80px;left:62px;">{if $SINRI_FROM_COMPANY eq "HZCGP"}乐麦{else}乐其{/if}</div>
<div style="position:absolute;font-size:12pt;top:72px;left:212px;">{$start_addr.tel}</div>
<div style="position:absolute;font-size:10pt;top:110px;left:96px;">{if $SINRI_FROM_COMPANY eq "HZCGP"}上海乐麦网络科技有限公司{else}东莞市乐其网络科技有限公司{/if}</div><!-- 公司名 -->
<div style="position:absolute;font-size:10pt;top:163px;left:96px;">{$start_addr.addr}</div>
<div style="position:absolute;font-size:10pt;top:78px;left:450px;">{$invoice.consignee}</div>
<div style="position:absolute;font-size:12pt;top:74px;left:630px;">{$invoice.tel}</div>
<div style="position:absolute;font-size:10pt;top:160px;left:450px;width:300px;">{if $invoice.province != ''}{$invoice.province_name}{/if}{if $invoice.city != ''}{$invoice.city_name}{/if}{if $invoice.district != ''}{$invoice.district_name}{/if}{$invoice.address}</div>
<div style="position:absolute;font-size:12pt;top:211px;left:640px;width:70px;letter-spacing:6px;">{$invoice.zipcode}</div>
<div style="position:absolute;font-size:10pt;top:300px;left:40px;"></div>
{/foreach}
<!--div style="position:absolute;font-size:10pt;top:340px;left:0px;">————————————————————————</div-->

<div style="position:absolute;font-size:10pt;top:275px;left:650px;">乐其</div> 
<div style="position:absolute;font-size:10pt;top:320px;left:650px;">月结</div>
<div style="position:absolute;font-size:10pt;top:370px;left:80px;">乐其</div>
<div style="position:absolute;font-size:10pt;top:385px;left:90px;"></div>
</body>
</html>