<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>APO订单同步</title>
	<link href="../styles/default.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="../js/style/calendar/GooCalendar.css"/>
	<script type="text/javascript" src="../misc/jquery.js"></script>
	<script type="text/javascript" src="../js/style/calendar/GooFunc.js"></script>
	<script type="text/javascript" src="../js/style/calendar/GooCalendar.js"></script>	
	<script type="text/javascript">//<![CDATA[
		//{literal}
		var property={
		    divId:"demo",
		    needTime:true,
		    isFirst :true,
		    yearRange:[1970,2030],
		    week:['Su','Mo','Tu','We','Th','Fr','Sa'],
		    month:['January','February','March','April','May','June','July',	'August','September','October','November','December'],
		    format:"yyyy-MM-dd hh:mm:ss"
		};
		$(document).ready(function(){
		    canva1=$.createGooCalendar("start",property);
		    property.isFirst = false;
		    canva2=$.createGooCalendar("end",property);
		});
		// {/literal}
	    //]]>
	</script>
	<script type="text/javascript">		
		var WEB_ROOT = '{$WEB_ROOT}';
		{literal}
		function searchDistrict(city,state,tid) {
			$.ajax({
				type: 'POST', //请求类型
				url: 'apo_order_list.php?request=ajax&act=search_district',//请求发送地址
				data: 'receiver_city=' + city +"&receiver_state="+state,//传送数据
				dataType: 'json',//数据类型
				async: false, 	//请求同步执行
				success:function(data){
					if(data.error){
						alert(data.error);
						return;
					}
					var tdc = "<td id="+tid+"> <select name=\"receiver_district\"><option value=\"0\">-请选择-</option>";
					for(j = 0; j<data.length;j++){
						tdc += "<option value="+data[j].region_id+">"+data[j].region_name+"</option>";
					}
					tdc += "</select><a href=\"javascript:void(0);\" onclick=\"addDistrict(this,"+tid+")\">确认</a></td> ";
					$('#'+tid).replaceWith(tdc);
				},
				error: function() { 
					alert("区信息查询异常");
				}
			});
		}
		function addDistrict(obj,tid){
			var select = $(obj).prev().find("option:selected").val();
			if(select == '0'){
				alert("请选择添加的区");
			}else 
			location.href='apo_order_list.php?region_id=' + select+"&tid="+tid;			
		}
		
		function checkCondition(){
			var start = $('#start').val();
			var end = $('#end').val();
			if($('#taobao_order_sn').val() == '' && $('#wlb_order_sn').val() == '' &&  $('#status').val() == 'NORMAL'){
				alert('不能查全部状态为正常的订单');
				return false;
			}else if(start > end){
				alert('开始时间不能晚于结束时间');
				return false;
			}else{
				$("#act").attr('value', 'search');
				$('#conditionForm').submit();	
			}
		}	
		function download(){
			var start = $('#start').val();
			var end = $('#end').val();
			if(start > end){
				alert('开始时间不能晚于结束时间');
				return false;
			}else{
				$("#act").attr('value', 'download');
				$('#conditionForm').submit();			
			}
		}	
		{/literal}	
		
	</script>	
</head>
<body>
	<fieldset style="-moz-border-radius: 6px; padding: 10px;">
		<legend>
			<span style="font-weight: bold; font-size: 18px; color: #2A1FFF;">&nbsp;德国药房订单同步&nbsp;</span>
		</legend>
		<div id="demo" style="clear: both;">
			<font color="red">
	                         注意：<br />
	          1.淘宝订单号、用户名、订单状态三个条件必须至少输入一个<br/>
	          2.不能查全部状态为正常的订单<br />
	          3.状态分为WARN和ERROR,ERROR状态的请直接手工录单; WARN状态时区信息为空的，店长可选择区信息，其它可联系ERP。<br />	          
       		  4.备注信息会列出同步失败原因,未找到匹配商品为商家编码错误,手工录单;未找到地址为地址信息错误,联系ERP。<br />
       		  
            </font>
            <br />
			<form method="post" id="conditionForm">
				<table>
					<tr>
						<td>淘宝订单号：<input type="text" name="taobao_order_sn" id="taobao_order_sn" value="{$taobao_order_sn}" /></td>
					    <td>物流宝单号：<input type="text" name="wlb_order_sn" id="wlb_order_sn" value="{$wlb_order_sn}" /></td>
						<td>开始时间:<input type="text" id="start" name="startTime"  size="10" /></td>
						<td>结束时间:<input type="text" id="end" name="endTime"  size="10" /></td>
						<td>订单状态: 
							<select name="status" id="status"> 
								{html_options options=$status_list selected=$status }
							</select>
						</td>
						<td>
							<input type="hidden" name="act" id="act" value="" />
						 	<input type="button" value="搜索" onclick="checkCondition()" />
						 	<!-- <input type="button" value="下载订单信息" onclick="download()"> -->
						</td>
					</tr>
				</table>
			</form>
			
	<form id="barcode_upload" method="post" enctype="multipart/form-data" action="apo_order_list.php">
     <h4 style="color: #09F;">apo数据导入：</h4>
      <input type="file" name="excel" size="30" /> &nbsp;&nbsp;
      <input type="submit" id='upload_btn' value="导入" />
      <input type="hidden" name="act" value="apo_upload" />
    </form>
    
    <form id="change_sync_taobao_order_status" method="post"  action="apo_order_list.php">
     <h4 style="color: #09F;">淘宝订单状态回退：</h4>
    	  请输入需要回退状态的淘宝订单号：
    	<input type="text" name="change_taobao_order_sn" id="change_taobao_order_sn" value="{$change_taobao_order_sn}" /> &nbsp;&nbsp;&nbsp;&nbsp;
      	<input type="hidden" name="act" id="act" value="status_return" />
      	<input type="submit" id='change_button' value="回退" />
    </form>
    <form id="change_pzn" method="post" action="apo_order_list.php">
     <h4 style="color: #09F;">pzn修改: &nbsp;&nbsp; <span style="color:red;">请确认最近订单中不含该pzn商品！</span></h4>
    	  请输入原PZN：
    	<input type="text" name="original_pzn" id="original_pzn" value="{$original_pzn}" /> &nbsp;&nbsp;&nbsp;&nbsp;
    	请输入新PZN：
    	<input type="text" name="new_pzn" id="new_pzn" value="{$new_pzn}" /> &nbsp;&nbsp;&nbsp;&nbsp;
      	<input type="hidden" name="act" id="act" value="change_pzn" />
      	<input type="submit" id='change_pzn_button' value="修改" />
    </form>
    
    <!--{if $message}-->
	<div style="border:rgba(220,220,220,.8) 2px solid; padding:5px; text-align:center;">
	{$message}
	</div>
  <!--{/if}-->
    
    <br />
		</div>
		<br/>
		<div style="clear: both;">
			<h3 style="color: #09F;">德国药房订单</h3>
			<table class="bWindow" style="margin-top: 10px;" id="goods_list_table">
				<tr>
					<th width="30">No.</th>
					<th>淘宝订单号</th>
					<th>下单时间</th>
					<th>订单状态</th>
					<th>发货状态</th>
					<th>物流宝单号</th>
					<th>顾客姓名</th>
					<th>电话</th>
					<th>状态</th>
					<th>操作建议</th>
				</tr>
				<!--  {if $order_list != null} -->
				<!-- {foreach from=$order_list item=order name="taobaoOrderList"} -->
				<tr align="center" class="{cycle values='odd,even'}" id="">
					<td>{$smarty.foreach.taobaoOrderList.iteration}</td>
					<td>{$order.taobao_order_sn}</td>
					<td>{$order.order_time}</td>
					<td>{$order.order_status}</td>
					<td>{$order.shipping_status}</td>
					<td>{$order.barcode_id}</td>
					<td>{$order.consignee}</td>
					<td>{$order.mobile}</td>
					<td>{$order.status}</td>		
					<!-- <td>{$order.ship_type}</td> -->
					<td>{$order.advice}</td>
				</tr>
				<!-- {/foreach} -->
				<!-- {else} -->
				<tr>
					<td colspan="10" align="center">没有数据</td>
				</tr>
				<!--  {/if} -->
			</table>
			<br />
		</div>
	</fieldset>

</body>
</html>