<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
 <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>淘宝直销订单</title>
<link href="../styles/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../misc/jquery.js"></script>
<script type="text/javascript" src="../js/style/zapatec/utils/zapatec.js"></script>
<script type="text/javascript" src="../js/style/zapatec/zpcal/src/calendar.js"></script>
<script type="text/javascript" src="../js/style/zapatec/zpcal/lang/calendar-en.js"></script>
<link rel="stylesheet" href="../js/style/zapatec/zpcal/themes/winter.css" />
</head>
<body>
	<fieldset style="-moz-border-radius: 6px; padding: 10px;">
		<legend>
			<span style="font-weight: bold; font-size: 18px; color: #2A1FFF;">&nbsp;亨氏同步订单&nbsp;</span>
		</legend>
		<div style="clear: both;">
		<!-- 
			<font color="red">
	                         注意：<br />
	          1.淘宝订单号、旺旺号、订单状态三个条件必须至少输入一个<br/>
	          2.不能查全部状态为正常的订单<br />
	          3.状态分为WARN和ERROR,ERROR状态的请直接手工录单,WARN状态的请联系ERP。<br />
       		  4.备注信息会列出同步失败原因,未找到匹配商品为商家编码错误,手工录单;未找到地址为地址信息错误,联系ERP。<br />
       		  5.周期购、付邮试用、免费试用订单不会同步。<br />
            </font>
        -->
            <br />
			<form method="post" id="conditionForm">
				<table>
					<tr>
						<td>亨氏订单号：<input type="text" name="order_sn" id="order_sn" value="{$order_sn}" /></td>
						<td>开始时间:<input type="text" id="start" name="startTime"  size="10" /><input type="button" id="startTrigger" value="日历" style="border:#960 1px solid;" /></td>
						<td>结束时间:<input type="text" id="end" name="endTime"  size="10" /><input type="button" id="endTrigger" value="日历" style="border:#960 1px solid;" /></td>
						<td>订单状态: 
							<select name="sync_status" id="sync_status"> 
								{html_options options=$sync_status_list selected=$sync_status }
							</select>
						</td>
						<td>
							<input type="hidden" name="act" id="act" value="search" />
						 	<input	type="button" value="搜索" onclick="checkCondition()" />
						 </td>
					</tr>
				</table>
			</form>
		</div>
		<br />
		<div style="clear: both;">
			<h3 style="color: #09F;">淘宝直销订单</h3>
			<table class="bWindow" style="margin-top: 10px;"
				id="goods_list_table">
				<tr>
					<th width="30">No.</th>
					<th>亨氏订单Id</th>
					<th>亨氏订单号</th>
					<th>同步时间</th>
					<th>状态</th>
					<th>备注</th>
					<th>省</th>
					<th>市</th>
					<th>区</th>
					<th>referer</th>
				</tr>
				<!--  {if $order_list != null} -->
				<!-- {foreach from=$order_list item=order name="taobaoOrderList"} -->
				<tr align="center" class="{cycle values='odd,even'}">
					<td>{$smarty.foreach.taobaoOrderList.iteration}</td>
					<td>{$order.order_id}</td>
					<td>{$order.order_sn}</td>
					<td>{$order.create_time}</td>
					<td>{$order.sync_status}</td>
					<td>{$order.sync_note}</td>
					<td>{$order.province}</td>
					<td>{$order.city}</td>
					<td>{$order.district}</td>
					<td>{$order.referer}</td>
				</tr>
				<!-- {/foreach} -->
				<!-- {else} -->
				<tr>
					<td colspan="10" align="center">没有数据</td>
				</tr>
				<!--  {/if} -->
			</table>
			<br />
		</div>
	</fieldset>
	<fieldset style="-moz-border-radius: 6px; padding: 10px;">
		<legend>
			<span style="font-weight: bold; font-size: 18px; color: #2A1FFF;">&nbsp;录入商品映射关系&nbsp;</span>
		</legend>
		<div style="clear: both;">
			<form method="post" action="heinz_sync_order.php" id="add_heinz_erp">
				亨氏货号：<input type="text" name="heinz_goods_sn" id="heinz_goods_sn"/>
				ERP商家编码：<input type="text" name ="erp_outer_id" id="erp_outer_id"/>
				<input type="hidden" name="act" value="insert"/>
				<input type="button" value="添加" onclick="checkHeinzErp()"/>
				{if $message}<font color="RED">{$message}</font>{/if}
			</form>
		</div>
		<br />
	</fieldset>
	<script type="text/javascript">
	{literal}
	function checkCondition(){
		var start = $('#start').val();
		var end = $('#end').val();
		if($('#order_sn').val() == '' && $('#sync_status').val() == 'NORMAL'){
			alert('不能查全部状态为正常的订单');
			return false;
		}else if(start > end){
			alert('开始时间不能晚于结束时间');
			return false;
		}else{
			$('#conditionForm').submit();
		}
	}
	
	function checkHeinzErp(){
		if($('#heinz_goods_sn').val() == '' || $('#erp_outer_id').val() == ''){
			alert('亨氏货号和ERP商家编码不能有为空的');
		}else{
			$('#add_heinz_erp').submit();
		}
	}
	Zapatec.Calendar.setup({
		weekNumbers       : false,
		electric          : false,
		inputField        : "start",
		button            : "startTrigger",
		ifFormat          : "%Y-%m-%d",
		daFormat          : "%Y-%m-%d"
	});
	Zapatec.Calendar.setup({
		weekNumbers       : false,
		electric          : false,
		inputField        : "end",
		button            : "endTrigger",
		ifFormat          : "%Y-%m-%d",
		daFormat          : "%Y-%m-%d"
	});
	{/literal}
	</script>
</body>
</html>