<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>下分销订单</title>
<link href="templates/distributor/style.css" rel="stylesheet" type="text/css"></link>
<script type="text/javascript" src="misc/jquery.js"></script>
<script type="text/javascript" src="misc/ajaxfileupload.js"></script>
<script type="text/javascript" src="misc/jquery.ajaxQueue.js"></script>
<script type="text/javascript" src="misc/autocomplete.js"></script>
<link rel="stylesheet" href="misc/autocomplete.css" />
<script type="text/javascript" src="misc/thickbox.js"></script>
<script type="text/javascript" src="misc/thickbox.js"></script>
<script type="text/javascript">
</script>
</head>
<body>
<fieldset style="-moz-border-radius: 6px; padding: 10px;">
		<legend>
			<span style="font-weight: bold; font-size: 18px; color: #2A1FFF;">&nbsp;淘宝库存增量同步&nbsp;</span>
		</legend>
<!--{if $message}-->
<div id="message" style="border:#7F9F00 2px solid; padding:5px; text-align:center;">
{$message}
</div><br/>
<!--{/if}-->
<form id="upload" method="post" enctype="multipart/form-data" action="taobao_goods_stock_update.php">
      <p style="align:center;">
      	淘宝店铺:<select name="taobao_shop">
		            <!--{foreach from=$taobao_shop_list item=item}-->
		            	<option value={$item.taobao_shop_conf_id}>{$item.nick}</option>
		            <!--{/foreach}-->
     		   </select>
       </p>
       <br />
       <p>
	       <input type="file" name="excel" size="30" /> &nbsp;&nbsp;&nbsp;&nbsp;
	       <input type="submit" value="导入" />
	       <input type="hidden" name="act" value="upload" />
       </p>
</form>
</fieldset>
</body>
</html>
