<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>出库</title>
  <link href="styles/default.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="misc/jquery.js"></script>
  <script type="text/javascript" src="misc/jquery.ajaxQueue.js"></script>

  
  <style type="text/css">
    <!--{literal}-->
    .tip {
        color: #888;
    }
    .require {
        color: #F00;
    }
    .loading {
        background: #F1F1F1 url('misc/indicator.gif') right center no-repeat;
    }
    <!--{/literal}-->
  </style>
  
  <script type="text/javascript">
    // <![CDATA[
    
    var ORDER_SN   = '{foreach from=$order_list item=order_item name=order_list1}{$order_item.order_sn}{if !$smarty.foreach.order_list1.last},{/if}{/foreach}';  // 查询条码
    var ORDER_ID   = '{$order.order_id}';  // 打印面单链接用
    var PARTY_ID   = '{$order.party_id}';  // 订单的组织
    var SHIP_STTS  = '{$order.shipping_status}';  // 主订单的配送状态，根据该状态来确定鼠标焦点的定位位置
    var CARRIER_ID = '{$shipment->carrierId}';  // 检查快递的格式
    var SHIPPING_ID = '{$order.shipping_id}';  // 检查快递的格式
    var TRACK_NUM  = '{$shipment->trackingNumber}';  // 面单号，已经批拣过的，需要检查
    var alert_message = '{$alert_message}';
    var admin_name = '{$smarty.session.admin_name}';
    var country = '{$order.country}';
    var goods_amount_dv = {$order.goods_amount/2|number_format:2:'.':''}
    
    // {literal}
    var carrier_code = '';
    switch(CARRIER_ID) {
        case '21':
            carrier_code = 'DHL';
            break;
        case '22':
            carrier_code = 'UPS';
            break;
        case '23':
            carrier_code = 'TNT';
            break;
        case '24':
            carrier_code = 'FEDEX';
            break;
        default:
            carrier_code = '';
    }
    
    $(document).ready(function(){
        // 绑定滑动效果
        $('legend.expand').bind('click', function(event){
            $(this).next().slideToggle('normal');
        });
        
        // 绑定加载出库单事件
        $('#load').bind('click', load);
        $('#shipment_id').bind('keyup', listen).focus();

        // 确定页面载入时鼠标焦点的定位
        if ($.trim($('#shipment_id').val()) != '') {
            if (SHIP_STTS == '0' || SHIP_STTS == '10') {
                $('#scan').focus();                   // 定位到串号扫描框
            } else if (SHIP_STTS == '9') {
                $('.inputTrackingNumber').get(0).focus();    // 定位到面单扫描框
            } else {
                $('#shipment_id').select();
            }
        }
        // 等待输入发货单号 
        else {
            $('#shipment_id').focus();
        }
        
        // 绑定扫描串号事件
        $('#scan').bind('keyup', scan);
        
        // 出库提交
        $('#pick').attr('disabled', false).bind('click', check);
        
        // 扫描发票号
        $('#shipping_invoice').bind('keyup', invoice);
        // 修改发票号按钮
        $('#change_shipping_invoice').toggle(
            function(){
                $('#shipping_invoice').attr('disabled', false);
            },
            function(){
                $('#shipping_invoice').attr('disabled', true);
            }
        );
        
        // 扫描面单号
        $('.inputTrackingNumber').keyup(check_tracking_number);
        // 修改面单号
        $('.inputTrackingNumber').dblclick(function(){
            $this=$(this);
            if($this.attr('readonly') && confirm('确认要修改面单号吗？')){
                $this.attr('readonly',false).select();
            }
        });
        
        // 添加扫描面单号
        $('#add_tracking_number_input').bind('click',function(){
            $(this).parent().parent().before("<tr><td>面单号：</td><td><input type=\"text\" name=\"shipment_tracking_number[]\" size=\"30\" class=\"inputTrackingNumber\" />&nbsp;&nbsp;&nbsp;&nbsp;<span class=\"tip\"><strong>请扫描面单号</strong></span></td></tr>");
            $('.inputTrackingNumber').select().focus();
            $('.inputTrackingNumber').keyup(check_tracking_number);
        });
        
        // 发货提交
        $('#shipment').attr('disabled', false).bind('click', function(){
            $(this).attr('disabled', true);
            $('#form').find(':hidden[name="act"]').val('shipment');
            $('#form').submit();                                                                        
        });
        
        // 打印发货单
        $('#print_invoice').bind('click', function(event){
            hidden_print('invoice_print.php?print=1&order_id=' + ORDER_ID ) ;
        });
    });
    
    var KEY = {
        RETURN: 13,  // 回车
        CTRL: 17,    // CTRL
        TAB: 9
    };
    /**
     * 监听
     */
    function listen(event) 
    {
        switch (event.keyCode) {
            case KEY.RETURN:
            case KEY.CTRL:
                load();
                event.preventDefault();
                break;
        }
    }
    
    /**
     * 载入订单商品和信息
     */
    function load() 
    {
        var shipment_id = $.trim($('#shipment_id').val());
        if (shipment_id == '') {
            alert('请先输入发货单号');
            return; 
        }
        
        if (check_order_refund_status(shipment_id) == -1) {
        	if(!confirm("该运单对应订单发起退款申请?\n1、强制配货出库的请点 确认\n2、否则请点 取消")){
             	return;
             }
        }
        location.href = "shipment_pick.php?shipment_id="+shipment_id;
    }
    
  //扫描运单号时检查订单退款状态
    function check_order_refund_status(shipment_id) {
    	var refund_status;
    	$.ajax({
    		async: false,
    		type: 'POST',
            url: 'ajax.php?act=check_refund_status_by_shipment_id',
            data: 'shipment_id=' + shipment_id,
            dataType: 'json',
            error: function() {	alert('ajax请求错误, 扫描发货单号时检查订单退款状态失败:' + shipment_id); return false},
            success: function(data) {
            	refund_status = data;
            }
        }); 
        return refund_status;
    }
        
    /**
     * 扫描动作
     * 把扫描的串号自动匹配到订单的商品，没有匹配则报错
     */
    function scan(event)
    {
        if (event.keyCode != KEY.CTRL && event.keyCode != KEY.RETURN) return;
        
        var $i = $(this);
        var barcode = $.trim($i.val());
        if (barcode != '') {
            validate(barcode);
            $i.val('').select();
        }
    }
    
    var Stack = new Array();
        
    /**
     * 验证串号
     */
    function validate(barcode)
    {
        if ($.inArray(barcode, Stack) != -1) {
            return; 
        }
        Stack.push(barcode);
        var $i = $('#validate');
        $i.val(Stack.join(', '));
        $i.addClass('loading');
        
        $.ajax({
            mode: 'abort',
            port: 'barcode_validate_' + barcode,
            async : true,
            type: 'POST',
            dataType: 'json',
            url : 'ajax.php?act=scan_barcode_new', 
            data: 'barcode=' + barcode + '&order_sn=' + ORDER_SN,
            success: matching,
            error: function() {
                alert('ajax请求错误, 请重新扫描串号:' + barcode); 
            },
            complete: function() {
                // 从数组中删除
                var idx = $.inArray(barcode, Stack);
                if (idx != -1) { Stack.splice(idx, 1); }
                $i.val(Stack.join(', '));
                if (Stack.length < 1) { $i.removeClass('loading'); }
            }
        }); 
    }
    
    // 处理请求返回的结果，匹配商品
    function matching(data) 
    {
        if (data && !data.message) {
        	var big_goods = data.big_goods;
        	var product_id = big_goods.product_id;
        	var is_serial = big_goods.is_serial;
        	if(!product_id) {
            	alert('扫描得到的product_id为空！');
            	return false;
        	}
   

        	var real_out_number_total = $('#item_list_'+product_id+'_real_out_goods_number').val();
        	var left_out_number_total = $('#item_list_'+product_id+'_left_out_number').val();
        	var goods_name = $('#item_list_'+product_id+'_goods_name').val();

        	// 大订单特殊处理
        	if(big_goods.has_big_goods == 'Y') {
        		// 输入该条码的出库数量
            	var goods_number = prompt("请输入  "+goods_name+" 的出库数", '');
            	// 检查数字格式
            	var check_number = check_number_format(goods_number); // 判断字符正确性
            	if(!check_number) {
                    alert("请输入正确格式的正整数！不要有其他字符");
                 	return false;
            	}
            	goods_number = parseInt(goods_number);
            	if(goods_number > parseInt(left_out_number_total)) {
            		alert('输入的数量不能超过订单商品：'+goods_name+' 未出库的总数：'+left_out_number_total);
            		return false;
            	}
            	if(goods_number > parseInt(big_goods.item_stock_quantity)) {
            		alert('输入的数量不能超过商品：'+goods_name+' 的所剩库存总数：'+big_goods.item_stock_quantity);
            		return false;
            	}
            	$('#item_list_'+product_id+'_real_out_goods_number').val(goods_number);
            	
        	} else {
        		// 普通订单
        		if(parseInt(left_out_number_total) <= real_out_number_total) {
            		alert(goods_name+' 未出库的总数：'+left_out_number_total+' 请检查是否多发！');
            		return false;
            	}
        		if(is_serial == 'SERIALIZED') {
                	var serail_number_texts = document.getElementsByName('item_list_'+product_id+'_serial_numbers[]');
                	// 判重
                	for(var i=0;i<serail_number_texts.length;i++) {
                		if(serail_number_texts[i].value == data.barcode) {
                    		alert(goods_name+' 不能和已扫描的串号相同：'+data.barcode);
                    		return false;
                		}
                	}
                	for(var i=0;i<serail_number_texts.length;i++) {
                		if(serail_number_texts[i].value == '') {
                			serail_number_texts[i].value = data.barcode;
                			break;
                		}
                	}
        		}
        		
                $('#item_list_'+product_id+'_real_out_goods_number').val(parseInt(real_out_number_total)+1);
        	}
            
            // 检查是否都已经扫描，尝试提交
            var _submit = true;
            var product_ids = document.getElementsByName('item_list_product_ids[]');
            for(var i=0;i<product_ids.length;i++) {
            	var the_left_out_number = $('#item_list_'+product_ids[i].value+'_left_out_number').val();
            	var the_real_out_number = $('#item_list_'+product_ids[i].value+'_real_out_goods_number').val();

            	if(parseInt(the_left_out_number) > parseInt(the_real_out_number)) {
                    _submit = false;
                    return false;
            	}
            }
            if (_submit) { 
            	check(); 
            }
        }
        // 该商品串号不存在或已出库
        else {
            alert(data.message);
        }
    }
    
    /**
     * 表单提交
     */
    function check(event)
    {
        // 禁用出库按钮
        $('#pick').attr('disabled', true);
        // 出库提交
        $('#form').find(':hidden[name="act"]').val('pick');
        $('#form').submit();
    }
    
    // 检测输入的数字
    function check_number_format(number) {
		var reg = /(^\d+$)/;
        if(!number.match(reg)) {
        	return false;
        } else {
        	return true;
        }
    }
    
    /**
     * 扫描面单
     */
    function check_tracking_number(event)
    {
        if (event.keyCode != KEY.CTRL && event.keyCode != KEY.RETURN) return;
        
        var trackingNumber = $.trim($(event.target).val());
        if (trackingNumber=='') {
            alert('请输入面单号');
            return;
        }
        
        // 批拣检查
        if (SHIP_STTS==9 && TRACK_NUM!='' && $(event.target).attr('picklist')=='1' && trackingNumber!=TRACK_NUM) {
            if(!confirm('输入的面单号和批拣任务扫面的面单号不匹配！')) {
                return false;   
            }
        }
        
        var flag = true;
        //  检查运单号规则
        if(!check_tracking_number_rule (CARRIER_ID,trackingNumber)) {
            flag = false;
            alert('提醒：运单号和发货的类型不匹配！请检查');
            return false;
        }

        //检查运单号是否存在系统里面
        $.ajax({
            type: "POST",
            url: "ajax.php?act=unique_trackingNumber",
            data: "trackingNumber=" + trackingNumber,
            dataType: 'json',
            error: function(){alert("运单号查询失败，请重新扫描");},
            success: function(data){
                if (data == '') {
                     // FIXME:
                    if (admin_name == 'zwsun') {
                        flag = true;
                    }
                    
                    if (!flag) {                    	
                    	alert('提醒：运单号和发货的类型不匹配！请检查');
							return false;
                                                
                    }   
                    	if (PARTY_ID=='65545' || PARTY_ID=='65554'|| PARTY_ID == '65560'|| PARTY_ID == '65564' || PARTY_ID == '65567' || PARTY_ID == '65570') {
                    		print_url = 'print_shipping_order4.php?order_id=' + ORDER_ID + '&print=1'
                        } else {
                            print_url = 'print_shipping_order3.php?order_id=' + ORDER_ID + '&print=1'
                        }
                        
                        // FIXME:
                        if (admin_name == 'zwsun') {
                            print_url += "&print=0";
                        }
                        
                        if (CARRIER_ID == '3') {
                            print_url += "&carrier_id=3";
                        }
                        var win=pprint(print_url, 'hidden');
                    
                        $(win).bind('load', function(){
                            // 更新面单号提交（在面单打印后提交页面）
                            $('#form').find(':hidden[name="act"]').val('waybill');
                            $('#form').submit();
                        });
                    
                    
                    

                    
                } else {
                    alert("运单号已存在，请更换运单,重新扫描运单号");
                    event.target.select();
                    return;
                }
            }
        });
    }
    
    // 检查运单号规则 
    function check_tracking_number_rule (carrier_id,tracking_number) {
    	var result = false;
    	$.ajax({
    		async:false,
    		type: 'POST',
    		url: 'ajax.php?act=check_tracking_number',
    	    data: 'carrier_id=' + carrier_id + '&tracking_number=' + tracking_number,
    	    dataType: 'json',
    	    error: function() {
                alert('ajax请求错误,检查面单号规则失败:' + tracking_number); 
    	    },
    	    success: function(data) {
    	    	if(data['error']) {
    	    		alert(data['error']);
    	    	} else if(data == true) {
    	    		result = true;
    	    	} 
    	    }
    	});
    	return result;
    }


    /**
     * 扫描发票
     */
    function invoice(event)
    {
        if (event.keyCode != KEY.CTRL && event.keyCode != KEY.RETURN) return;
        
        var shipping_invoice = $.trim($('#shipping_invoice').val()).toString();  // 发票号
        if (shipping_invoice == '') {
            alert('请输入发票号');
            return;
        }
        
        $('#form').find(':hidden[name="act"]').val('change_invoice');
        $('#form').submit();
    }
    
    /**
     * 打印
     */
    function pprint(url, mode)
    {
        if (mode == 'hidden') {
            var iframe = document.getElementById('_pprint_');
            if (!iframe) {
                var obj = document.createElement("iframe");
                obj.frameborder = 0;
                obj.width = 0;
                obj.height = 0;
                obj.id = '_pprint_';
                var iframe = document.body.appendChild(obj);
            }
            iframe.src = url;
            return iframe;
        } else {
            return window.open(url, "PrintWindow", "toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=920,left=10,top=240");          
        }
    }
    
    /**
     * 打印
     */
    function hidden_print(url) {
        window.print_frame.location.href = url;
    }
    
    function print_ups_waybill(order_id) {
        var pieces = document.getElementById('pieces').value;
        pprint('print_ups_waybill.php?order_id=' + order_id + "&pieces=" + pieces
                + '&pinming=' + encodeURIComponent($('#pinming').find("option:selected").text())
            , 'new');
    }
  
    
    // 判断是否存在警告
    if(alert_message && !confirm(alert_message)) {
        history.go(-1);
    }
    // {/literal}
    // ]]>
  </script>
  
</head>
<body>

<!--{if $message}-->
<div id="message" style="border:#7F9F00 2px solid; padding:5px; text-align:center;">
{$message}
</div>
<!--{/if}-->
  
  
<fieldset style="-moz-border-radius:6px;padding:10px;">
<legend><span style="font-weight:bold; font-size:18px; color:#2A1FFF;">&nbsp;配货出库&nbsp;</span></legend>
<form method="post" id="form"> 

    <div style="clear:both;"> 
    <h3 style="color:#09F;">配送信息</h3>

    <table cellpadding="5" cellspacing="1">
        <tr>
        <td width="120">扫描发货单号</td>
        <td>
            <input type="text" id="shipment_id" value="{$shipment->shipmentId}" size="39" /> &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" id="load" value="加载" />
        </td>
        </tr>
        
        <!--{if $shipment}-->
        <tr>
          <td>发货仓库</td>
          <td>{$order.facility_id|facility_mapping}</td>
        </tr>
        
        <tr>
          <td ><font   color   =   "red" size="2px">配送方式</font></td>
          <td><font   color   =   "red" size="2px">{$order.shipping_name}</font></td>
        </tr>
        
        <tr>
          <td>收货人</td>
          <td>{$order.consignee}</td>
        </tr>
        
        <tr>
          <td>收货地址</td>
          <td>
            {if check_admin_priv('check_user_address')}
            {if $order.province != 0}[{$order.province|get_region_names}]{/if}{if $order.city != 0}[{$order.city|get_region_names}]{/if}{if $order.district != 0}[{$order.district|get_region_names}]{/if}{$order.address}
            {else}
            ××××××
            {/if}
          </td>
        </tr>
        
        <!--{/if}-->
        
    </table>
  </div>
  
  
  
  <!--{if $order_list}-->
  <br />
  <div style="clear:both; width:800px;">
      <h3 style="color:#09F;">配送商品</h3>
      
      <!-- 串号|条码 扫描框 -->
      <!--{if $order.shipping_status == 0 || $order.shipping_status == 10}-->
      <table cellpadding="0" cellspacing="0">
          <tr>
            <td>
                <input type="text" id="scan" style="width:327px;" />
            </td>
            <td> &nbsp;&nbsp;&nbsp;&nbsp;<span class="tip">请在此扫描商品串号，系统会为您自动匹配到对应的商品，<strong>请用半角输入法</strong></span></td>
          </tr>
          <tr>
            <td>
                <input id="validate" style="width:310px; padding:5px 20px 5px 0; border:0; color:#60F; font-weight:bold;" readonly="readonly" /><br />
            </td>
            <td>&nbsp;</td>
          </tr>
      </table>
      <!--{/if}-->


      <div style="clear:both; margin-top:1px;"></div>
        <!-- 商品列表 -->
      <table class="bWindow">

<!--{foreach from=$order_list item=item name='order_sns'}-->
        <tr>
        <td colspan="7" bgcolor="#f9f9f9">
             ERP订单号：<a href="order_edit.php?order_id={$item.order_id}" target="_blank">{$item.order_sn}</a>
             <input type="hidden" name="order_info_md5[{$item.order_id}]" value="{$item.order_info_md5}" />
        </td>
        </tr>
        {if $smarty.foreach.order_sns.last}
        <tr>
            <td colspan="7" bgcolor="#f9f9f9">
                {if $order.postscript}
                <br />客服备注: {$order.postscript}
                {/if}
                {if $order.important_note}
                <br /><span style="color: red;"><span style="color:yellow;background-color:#00BDFF">重要备注: </span>{$order.important_note}</span>
                {/if}
             </td>
        </tr>
        {/if}

<!-- {/foreach} -->       

        <tr align="center">
            <!--{if !$screened_barcode_flag}-->
            <td width="11%">商品编码</td>
            <!--{/if}-->
            <td width="32%">商品名称</td>
            <td width="9%">串号控制</td>
            <td width="9%">预订类型</td>
            <td width="9%">订购数量</td>
            <td width="30%">串号</td>
        </tr>
<!--{foreach from=$item_info_list key=key item=item}-->
        <tr align="center">
            <!--{if !$screened_barcode_flag}-->
            <td >{$item.productcode}</td>
            <!--{/if}-->
            <td >{$item.goods_name}</td>
            <td >{if $item.goods_type == 'SERIALIZED'}有{else}无{/if}</td>
            <td >{$item.status_id}</td>
            <td >{$item.goods_number_total}</td>
            <td align="left">
	            <input type="hidden" id="item_list_{$item.product_id}_common_barcode" name="item_list_{$item.product_id}_common_barcode" value="{$item.productcode}" />
	            <input type="hidden" id="item_list_{$item.product_id}_goods_number_total" name="item_list_{$item.product_id}_goods_number_total" value="{$item.goods_number_total}" />
	            <input type="hidden" id="item_list_{$item.product_id}_goods_name" name="item_list_{$item.product_id}_goods_name" value="{$item.goods_name}" />
	            <input type="hidden" id="item_list_{$item.product_id}_product_id" name="item_list_product_ids[]" value="{$item.product_id}" />
	            <input type="hidden" id="item_list_{$item.product_id}_left_out_number" name="item_list_{$item.product_id}_left_out_number" value="{$item.left_out_number}" />
	            
	            <span style="color:#FF0000;"><strong> 已出库数：</strong>
	            <input type="text" size="3" id="item_list_{$item.product_id}_has_out_number" name="item_list_{$item.product_id}_has_out_number" value="{$item.has_out_number_total}" readonly="true"/>
	            </span>
	            &nbsp;&nbsp;
	            </br><span style="color:#FF0000;"><strong> 本次出库：</strong></span>
	            <input type="text" size="3" id="item_list_{$item.product_id}_real_out_goods_number" name="item_list_{$item.product_id}_real_out_goods_number" value="0" readonly="true"/>
	            </br></br><span class="tip">扫描一次，出库数会+1</span>
	            {if $item.goods_type == 'SERIALIZED'}
	            	 <input type="hidden" id="item_list_{$item.product_id}_is_serial" name="item_list_{$item.product_id}_is_serial" value="SERIALIZED" />
	                 {foreach from=$item.serial_numbers item=serail_number}
	            	 <input type="text" id="item_list_{$item.product_id}_serial_number_$key" name="item_list_{$item.product_id}_serial_numbers[]" value="{$serail_number}" readonly="true" />
	                 {/foreach}
	            {/if}
	            
            </td>
        </tr>

 <!-- {/foreach} -->     
       </table>
      
      <br />  </div>
      <!--{if $order.shipping_status == 0 || $order.shipping_status == 10}--> 
      <div style="text-align:center"><input type="button" id="pick" value="出库" /></div>
      <!--{/if}-->
     </div>
 <!--{/if}-->

  

  {* 已配货待出库 *}
  <!--{if $order.shipping_status == 8 || $order.shipping_status == 9 }--> 
  <br />
  <div style="clear:both; width:750px;">
      <h3 style="color:#09F;">票据打印</h3>


        <table cellpadding="5" cellspacing="1">
          <!--{foreach from=$shipment_list item=shipment_item}-->
          {* 这里会有多个 shipment_item 吗？ *}
          <tr>
            <td>面单号：</td>
            <td>
            {if $order.shipping_status==8}  {* 如果有面单号了则显示启用面单号修改的按钮 *}
                <input type="text" name="shipment_tracking_number[{$shipment_item->shipmentId}]" size="30" class="inputTrackingNumber" value="{$shipment_item->trackingNumber}" readonly="readonly" />
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="tip"><strong>已输入面单号</strong>，如需修改请双击输入框后重新输入</span>
            {elseif $order.shipping_status==9}
                <input type="text" name="shipment_tracking_number[{$shipment_item->shipmentId}]" size="30" class="inputTrackingNumber" {if $shipment_item->picklistId}picklist="1"{/if} />
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="tip"><strong>请扫描面单号</strong></span>
            {/if}
            </td>
          </tr>
          <!--{/foreach}-->
          
          {if $order.shipping_status==8 && $order.is_cod == '0'}
          <tr>
            <td></td>
            <td><a href="javascript:void(0);" id="add_tracking_number_input">添加面单号</a></td>
          </tr>
          {/if}
      </table>
  </div>
  <!--{/if}-->
  
  
  {* 已出库待发货 *}
  <!--{if $order.shipping_status == 8}-->
  <br />
  <div class="inner" style="text-align:center;">
      <!--{if !$screened_shipment_flag}-->
      <input type="button" id="print_invoice" value="打印形式发票" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="button" id="shipment" value="发货" />
      <!--{/if}-->
  </div>
  <!--{/if}-->
  
  
  <input type="hidden" name="act" />
  <input type="hidden" name="shipment_id" value="{$shipment->shipmentId}" />
  
</form>

<br /><br />

</fieldset>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank" ></iframe>
</body>
</html>
