<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>发票列表</title>
<link href="{$WEB_ROOT}admin/styles/default.css" rel="stylesheet" type="text/css">

<!-- Loading Calendar JavaScript files -->
<script type="text/javascript" src="{$WEB_ROOT}admin/js/style/zapatec/utils/zapatec.js"></script>
<script type="text/javascript" src="{$WEB_ROOT}admin/js/style/zapatec/zpcal/src/calendar.js"></script>
<script type="text/javascript" src="{$WEB_ROOT}admin/js/style/zapatec/zpcal/lang/calendar-en.js"></script>
<link rel="stylesheet" href="{$WEB_ROOT}admin/js/style/zapatec/zpcal/themes/winter.css" />


<!-- Autocomplete -->
<script type="text/javascript" src="{$WEB_ROOT}admin/misc/jquery.js"></script>
<script type="text/javascript" src="{$WEB_ROOT}admin/misc/jquery.ajaxQueue.js"></script>
<script type="text/javascript" src="{$WEB_ROOT}admin/misc/autocomplete.js"></script>
<link rel="stylesheet" href="{$WEB_ROOT}admin/misc/autocomplete.css" />

<script type="text/javascript">
var WEB_ROOT = '{$WEB_ROOT}';
{literal}
// <![CDATA[
$(document).ready(function(){
	/**
	* 供应商自动显示
	*/
	$('#autocomplete_provider').autocomplete(WEB_ROOT + 'admin/ajax.php?act=get_provider', {
		minChars: 0,
		mustMatch: true,
		dataType : 'json',
		formatItem : function(row, i, max, value, term) {
			return(row.provider_name);
		},
		formatResult : function(row) {
			return(row.provider_name);
		}
	}).result(function(event, row, formatted) {
		// 将隐藏域的值设为供应商的id
		$('#provider_id').val(row.provider_id);
	});

});
// ]]>


</script>
{/literal}
</head>
<body>

<form>
发票号：<input name="invoice_no" value="{$smarty.request.invoice_no}" />
供应商：
	<input id="autocomplete_provider" name="provider_name" size="40" value="{$smarty.request.provider_name}" />
	<input type="hidden" name="provider_id" id="provider_id" value="{$smarty.request.provider_id}"/>
起始时间：
	<input name="start_invoice_time" size="10" id="start1" value="{$smarty.request.start_invoice_time}"/>
	<input type="button" value="..." id="start2" />
结束时间：
	<input name="end_invoice_time" size="10" id="end1" value="{$smarty.request.end_invoice_time}"/>
	<input type="button" value="..." id="end2" />
状态：
	<select name="status">
		<option value="" >所有</option>
		<option value="INIT" {if $smarty.request.status == "INIT"}selected{/if}>未确认</option>
		<option value="CONFIRM" {if $smarty.request.status == "CONFIRM"}selected{/if}>确认</option>
		<option value="CLOSE" {if $smarty.request.status == "CLOSE"}selected{/if}>复审</option>
	</select>
是否使用：
    <select name="is_not_used">
        <option value="">所有</option>
        <option value="true" {if $smarty.request.is_not_used == "true"}selected{/if}>未使用</option>
    </select>
<input type="submit" name="search" value="搜索" />
<input type="submit" name="csv" value="导出csv" />
</form>
<br>
<br>

<table class="bWindow">
<caption><h2>发票列表</h2><h4><a href="purchase_invoice_add.php" target="_blank">创建发票</a></h4></caption>
<tr>
	<th>发票号</th>
	<th>发票时间</th>
	<th>供应商</th>
	<th>创建时间</th>
	<th>创建人</th>
	<th>状态</th>
	<th>去税总额</th>
	<th>带税总额</th>
	<th>未使用总额</th>
</tr>
{foreach from=$purchase_invoice_list item=purchase_invoice}
<tr align="center">
	<td><a href="purchase_invoice_detail.php?invoice_no={$purchase_invoice->invoiceNo}">{$purchase_invoice->invoiceNo}</a></td>
	<td>{$purchase_invoice->invoiceDate|date_format:"%Y-%m-%d"}</td>
	<td>{if check_admin_priv('check_provider')}{$purchase_invoice->supplierId|get_provider_name}{else}××××××{/if}</td>
	<td>{$purchase_invoice->created_Stamp|date_format:"%Y-%m-%d %T"}</td>
	<td>{$purchase_invoice->createdUser}</td>
	<td>{assign var=status value=$purchase_invoice->status}{$_CFG.adminvars.purchase_invoice_status_mapping[$status]}</td>
	<td align="right">￥{$purchase_invoice->totalNetCost|erp_price_format}</td>
	<td align="right">￥{$purchase_invoice->totalCost|erp_price_format}</td>
	{if $purchase_invoice->invoiceNo == '53398640' || $purchase_invoice->invoiceNo == '53398666,53398667,53398668,53398670,53398671,53398672,53398673,53398675,'}
		<td align="right">￥{'0'|erp_price_format}</td>
	{else}
		<td align="right">￥{$purchase_invoice->notUsedAmount|erp_price_format}</td>
	{/if}
</tr>
{/foreach}
<tr align="center">
	<td colspan="20">{$pager}</td>
</tr>
</table>

{literal}
<script type="text/javascript">//<![CDATA[
Zapatec.Calendar.setup({
	weekNumbers       : false,
	electric          : false,
	inputField        : "start1",
	button            : "start2",
	ifFormat          : "%Y-%m-%d",
	daFormat          : "%Y-%m-%d"
});
Zapatec.Calendar.setup({
	weekNumbers       : false,
	electric          : false,
	inputField        : "end1",
	button            : "end2",
	ifFormat          : "%Y-%m-%d",
	daFormat          : "%Y-%m-%d"
});
//]]>
</script>
{/literal}
</body>
</html>