<!DOCTYPE html>
<html>
<head>
	<title>客户自退</title>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   	<link href="styles/default.css" rel="stylesheet" type="text/css" />
   	<link href="styles/whole_part_service.css" rel="stylesheet" type="text/css" />
  	<script type="text/javascript" src="misc/jquery.js"></script>
 	<!-- <script type="text/javascript" src="../js/whole_part_service.js"></script> -->
  	{literal}
  	<style type="text/css">
  form,.back_title{width: 85%;margin: 10px auto;}
  .remark{width: 80%;height: 50px;margin-top: 20px;}
  </style>
  	<script type="text/javascript">
  	$(function(){
  		// QS提交后需要跳转到warehouse_servive.php页面？ 
  		// order = document.cookie.replace(/(?:(?:^|.*;\s*)username\s*\=\s*([^;]*).*$)|^.*$/, "$1");
  		// $('#original_order_sn').val(order);
  		$('#load_scan_barcode').bind('keyup', listen_goods_barcode).focus();  //默认有订单 
  		$('#scan_barcode').bind('keyup', listen_goods_barcode_non_order).focus(); //默认无订单 

  		// 报错确认按钮 
        $('#error_msg').click(function(){
            $("input").attr('disabled', false);
            $('#mask').fadeOut();
         });
		
		 // 有订单号 
		$('#load').click(function(){//加载按钮 
			var tracking_number = $('#tracking_number').val();//快递单号 
			var original_order_sn = $('#original_order_sn').val();//原订单号 
			if (tracking_number=='') {
            error('快递单号为空，请重新进入页面');
				return false;
			}else if(original_order_sn==''){
            error('请输入订单号');
				return false;
			}else{
				$('#order_sn_tn').val(tracking_number);//运单号 
				$('#load_order_sn').val(original_order_sn);//订单号 
				$('#first_form').submit();//无订单号表单提交，刷新页面加载出数据 
			}
		});
		// 默认无订单号
		$('#non_order_sn').click(function(){ 
			var tracking_number = $('#tracking_number').val();//快递单号 
			var original_order_sn = $('#original_order_sn').val();//原订单号 
			if (tracking_number=='') {
				error('快递单号为空，请重新进入页面');
				return false;
			}else if(original_order_sn!=''){
				error('有订单号请按加载按钮');
				return false;
			}else{
				$('#non_order_sn_tn').val(tracking_number);
				$('#non_order_sn_form').fadeIn();
				$('#load_form').fadeOut();
				return false;
			}
		});
  	});

  	var KEY = {
	    RETURN: 13,  // 回车
	    CTRL: 17,    // CTRL
	    TAB: 9
    };
  	
  	 // 表单提交操作
    function form_submit(event){
    	var total_data = {};
    	// 验货结果
    	if(event=='receive'){
    		$('#non_order_sn_form').submit();
    	}else{
    		if(event=='pass'){
    			var inner_check = 'pass';
	    	}else if(event=='refuse'){
	    		var inner_check = 'refuse';
	    	}
	    	$('#load_inner_check').val(inner_check);
	    	$('#load_form').submit();
	    	$("input").attr('disabled', true);
	    	$('.button').css('background-color','#999');
	    	// window.location.href="warehouse_service.php";
	    	// window.location.href="whole_service.php?act=load&tracking_number="+$('#tracking_number').val();
    	}
    	
    }
  	 
    /**
     * 商品条码监听,有订单，直接加载
     */
    function listen_goods_barcode(event) 
    { 
        switch (event.keyCode) {
            case KEY.RETURN: 
            case KEY.CTRL: 
                load_goods_barcode();
                event.preventDefault();
                break;
        }
    }
    //商品扫描 
	function load_goods_barcode(){
		var barcodes = [];//所有的商品条形码
		var serialNumbers = [];//所有的serial_number
		var rec_ids = [];
		var goods_map = [];
		var is_serial_num = 0;
		var is_serial_map = {};
		$('#load_goods_head').nextAll('tr').each(function(){
			var rec_id = $(this).attr('id');//rec_id取值方式错了
			rec_ids.push(rec_id);
			var barcode = $(this).children('.product_barcode').text();//商品条码
			barcodes.push(barcode);
			var is_serial = $(this).children('.is_good_serial').children('.is_serial').val();//	是否串号
			var serial_numbers =[];//单个barcode对应的serial_number
			if(is_serial=='Y'){
				$(this).children('.is_good_serial').children('.is_serial').nextAll('input.serial_number').each(function(){					
					var serial_number = $(this).val();//串号条码
					serial_numbers.push(serial_number);
					is_serial_num++;
				});	
			}else{
				var serial_numbers = [];
			}		
			serialNumbers.push(serial_numbers);//所有barcode对应的serial_numbers
			goods_map.push({'rec_id':rec_id,'barcode':barcode,'is_serial':is_serial,'serial_numbers':serial_numbers});
			// console.log(goods_map);
			is_serial_map[serial_numbers]={'rec_id':rec_id,'barcode':barcode};//serialnumber无法和barcode对应
		});
		// console.log(serialNumbers);
		var scan_barcode = $('#load_scan_barcode').val();//扫描的条码可能是串号也可能是商品条码也可能是错误值
		if(scan_barcode==''){
			error('条码不能为空');
		}else{
			var is_barcode = $.inArray(scan_barcode,barcodes);//条码在数组中的位置，-1则不存在
			if(is_barcode==(-1)){//扫的可能是商品条码，条码不存在，或者扫描的是串号，或者是错误码
				if(is_serial_num=0){// 先检查是否含有串号商品，大于0表示含有串号商品
					error('条码不存在，请核实');
					$('#load_scan_barcode').val('');
				}else{//含有串号商品，查看是否是串号
					var flag = 0;//flag的设置是为了跳出双重循环
					var num = 0;
					for(var i=0;i<serialNumbers.length;i++){//此处为遍历二维数组查找serail_number，另一种解决方案：可通过filter,map遍历查找，
						for(var j=0;j<serialNumbers[i].length;j++){
							if(scan_barcode==serialNumbers[i][j]){
								// 该条码为串号,需要找到该条码对应的商品rec_id,barcode
								var its_barcode = is_serial_map[serialNumbers[i]].barcode;
								var its_rec_id = is_serial_map[serialNumbers[i]].rec_id;
								console.log('its_barcode:'+its_barcode);
								var result = add_new(its_barcode,its_rec_id);//此处rec_id是唯一的
								if(result == false){
									error('已超出可退数量，请核实');
									// alert('已超出可退数量，请核实');
									$('#load_scan_barcode').val('');
								}else{
									$('input.serial_number_'+scan_barcode).remove();
								}
								$('#load_scan_barcode').val('');
								flag = 1;
								break;
							}
						}
						if(flag==1){
							break;
						}else{
							num++;
						}
					}
					if(num==serialNumbers.length){
						error('该条码即不是商品条码也不是串号，或是已扫描的串号，请核实');
						$('#load_scan_barcode').val('');
					}
				}	
			}else{//扫的是商品条码且条码存在
				var goods = goods_map.filter(function(good){
					    return good.barcode == scan_barcode;
					}).map(function(good){
					    return good;
					});
				 //判断是否为串号商品
				if(goods[0].is_serial=='Y'){
					error('该商品为串号商品，请扫描串号');
					$('#load_scan_barcode').val('');
				}else{
					var num = 0;
					for (var i = 0; i < goods.length; i++) {
						var result = add_new(scan_barcode,goods[i].rec_id);
						console.log(result);
						if(result==true){
							break;
						}else{
							num++;
							continue;
						}
					};
					if(num == goods.length){
						error('已超出可退数量，请核实');
					}
				}
				$('#load_scan_barcode').val('');
			}
		}

	}
	/**
	* 扫描商品条码/串号后处理表格
	*/ 
	function add_new(scan_barcode,rec_id){
		var back_num = Number($('.back_num_'+rec_id).val())+1;//退回的数量
		console.log(back_num);
		var can_back_num = Number($('.back_num_'+rec_id).parent().siblings('.can_back').text());//可退数量
		if(back_num>can_back_num){
			return false;
		}else{
			$('.back_num_'+rec_id).val(back_num);
			// 需要叠加全新二手
			if(back_num>1){
				var goods_type_html='<input type="radio" checked="checked" name="scan_order_goods['+rec_id+'][goods_type]['+(back_num-1)+']" class="good_status_'+rec_id+'_'+back_num+'" value="INV_STTS_AVAILABLE" />全新<input type="radio" name="scan_order_goods['+rec_id+'][goods_type]['+(back_num-1)+']" class="good_status_'+rec_id+'_'+back_num+'" value="INV_STTS_USED" />二手<br/>';
				console.log('rec_id:'+rec_id);
				$('.goods_type_'+rec_id).append(goods_type_html);
			}
			return true;
		}
		$('#load_scan_barcode').val('');
	}
	/***********************************默认无订单号*****************************************/ 
    /**
     * 商品条码监听，默认无订单
     */
    function listen_goods_barcode_non_order(event) 
    {
        switch (event.keyCode) {
            case KEY.RETURN:
            case KEY.CTRL:
                load_goods();
                event.preventDefault();
                break;
        }
    }
	/**
	* 无原始订单号时加载商品，扫描商品条码确认，如果此条条码能在表格中找到则不传AJAX且非串号，直接添加到表格中或者提示扫描串号信息，如果是串号商品则需要传递，则提示需要扫描串号
	*/ 
	function load_goods(){
		var goods_map = [];
		var barcodes = [];
		var is_serial_num = 0;
		$('#form_header').nextAll('tr').each(function(){
			var barcode = $(this).children('.product_barcode').text();//商品条码
			var is_serial = $(this).children('.is_serial').children('input.is_serial').val();//是否串号
			var serial_numbers =[];//单个barcode对应的serial_number
			if(is_serial=='Y'){
				$(this).children('.is_good_serial').children('.is_serial').nextAll('input.serial_number').each(function(){					
					var serial_number = $(this).val();//串号条码
					// console.log('serial_number:'+serial_number);
					serial_numbers.push(serial_number);
					is_serial_num++;
				});	
			}else{
				var serial_numbers = [];
			}		
			goods_map.push({'barcode':barcode,'is_serial':is_serial,'serial_numbers':serial_numbers});
			barcodes.push(barcode);
		});
		var scan_barcode = $('#scan_barcode').val();//扫描的码
		$('#scan_barcode').val('');
		if (scan_barcode=='') {
			error('商品条码不能为空');
		}else{
			var is_exist = $.inArray(scan_barcode,barcodes);//判断扫描的条码是否已存在数组中了
			console.log(is_exist);
			if(is_exist==(-1)){//不存在于数组中，说明是新的商品或者扫描的是串号条码或者根本不存在，交给后端判断
				//直接传barcode给后端，后端判断是否是串号
				console.log(barcodes);
				non_order_sn_ajax(scan_barcode,barcodes);
			}else{//存在于数组中，说明扫描进来的数据是商品编码
				var goods = goods_map.filter(function(good){
						    return good.barcode == scan_barcode;
						}).map(function(good){
						    return good;
						});
						console.log(goods);
				if(goods[0].is_serial=='Y'){//该商品为串号商品
					error('该商品为串号商品，请扫描串号');
				}else{//该商品不是串号商品
					//表格数据直接加1
					add_new_num(scan_barcode,'');
				}
			}
		};

	}
	// 商品条码扫描AJAX
	function non_order_sn_ajax(scan_barcode,barcodes){
		$.ajax({
			type:'post',
			url:'part_service.php?act=goodScan',
			dataType:'json',
			data:{
				'barcode':scan_barcode
			},
			error:function(){
				console.log('AJAX提交失败');
			},
			success:function(data){//新的商品或者扫描的是串号条码或者根本不存在
				console.log(data);
				if(data.result=='failure'){//说明根本没有这个商品的存在
					error(data.note);
				}else{
					var barcode = data.goods_info.barcode;//商品条码
					var goods_name = data.goods_info.goods_name;//商品名称
					var is_serial = data.goods_info.is_serial;//是否串号
					var is_serial_text = '否';
					var is_exist = $.inArray(barcode,barcodes);//判断扫描的条码是否已存在数组中了
					if(is_serial=='N'){
						is_serial_text='否';
						if(is_exist==(-1)){//是新的条码，且非串号，则直接加新的行，且没有input
							add_new_line(barcode,goods_name,is_serial_text,is_serial,'')
						}else{//不是新的条码，且非串号，则直接加新的单选（新旧）
							add_new_num(barcode,'');
						}
					}else if(is_serial=='Y'){
						var serial_number = data.goods_info.serial_number;//串号码（第一个商品，只有一条）
						is_serial_text='是';
						if (is_exist==(-1)) {//是新的条码，且是串号，
							add_new_line(barcode,goods_name,is_serial_text,is_serial,serial_number);
						}else{//不是新的条码，且是串号，如果串号重复则不能添加，
							console.log('B');
							var serials = [];
							//此处需要对应的获得串号条码
							$('input.product_barcode_'+barcode).parent().siblings('.is_serial').children('.is_serial').nextAll('input.serial_number').each(function(){					
								var exist_serial_number = $(this).val();//串号条码
								serials.push(exist_serial_number);
							});	
							console.log(serials);
							console.log($.inArray(serial_number,serials));
								if($.inArray(serial_number,serials)==(-1)) {
									add_new_num(barcode,serial_number);
								}else{
									error('该商品串号已存在，请勿重复扫描');
									// alert('该商品串号已存在，请勿重复扫描');
								}

						}
					}else{
						error('条码出错');
					}
				}
			}
		});
	}
	/**
	* 扫描商品条码/串号后处理表格,确认是表格中不存在商品
	*/ 
	function add_new_line(barcode,goods_name,is_serial_text,is_serial,serial_number){
		var serial_input = '';
		if (serial_number!='') {
			serial_input = '<input type="hidden" value="'+serial_number+'" name="scan_order_goods['+barcode+'][serial_numbers][]" class="serial_number_'+barcode+' serial_number">';
		}
			new_good_html = '<tr>'+
			'<td class="product_barcode">'+barcode+'<input type="hidden" class="product_barcode_'+barcode+'" name="scan_order_goods['+barcode+'][barcode]" value="'+barcode+'"></td>'+
			'<td class="rec_id">'+goods_name+'</td><td class="is_serial">'+is_serial_text+'<input type="hidden" name="scan_order_goods['+barcode+'][is_serial]" value="'+is_serial+'" class="is_serial">'+serial_input+'</td>'+
			'<td class="goods_back_num"><input  class="back_num_'+barcode+'" type="text" name="scan_order_goods['+barcode+'][goods_back_num]" value="1" /></td><td class="goods_type_'+barcode+'"><input type="radio" checked="checked" name="scan_order_goods['+barcode+'][goods_type][0]" class="good_status_'+barcode+'_0" value="INV_STTS_AVAILABLE"/>全新<input type="radio" name="scan_order_goods['+barcode+'][goods_type][0]" class="good_status_'+barcode+'_0" value="INV_STTS_USED" />二手<br/></td></tr>';
			$('#form_header').after(new_good_html);
	}
	/**
	* 扫描商品条码/串号后处理表格,确认是表格中已存在的商品
	*/ 
	function add_new_num(scan_barcode,new_serial_numbers){
		if (new_serial_numbers != '') {//存在serial_number说明是串号商品
			// 此处直接组成一个input标签append进去
			serial_input = '<input type="hidden" value="'+new_serial_numbers+'" name="scan_order_goods[serial_numbers][]" class="serial_number_'+scan_barcode+' serial_number">';
			$('.product_barcode_'+scan_barcode).parent().siblings('.is_serial').append(serial_input);//在对应条码的后面直接加上serial_number 的input
			
		}
		var back_num = Number($('.back_num_'+scan_barcode).val())+1;//退回的数量
		$('.back_num_'+scan_barcode).val(back_num);//设置新的退回数量
		// 需要叠加全新二手
		if(back_num>1){
			var goods_type_html='<input type="radio" checked="checked" name="scan_order_goods['+scan_barcode+'][goods_type]['+(back_num-1)+']" class="good_status_'+scan_barcode+'_'+back_num+'" value="INV_STTS_AVAILABLE" />全新<input type="radio" name="scan_order_goods['+scan_barcode+'][goods_type]['+(back_num-1)+']" class="good_status_'+scan_barcode+'_'+back_num+'" value="INV_STTS_USED" />二手<br/>';
			$('.goods_type_'+scan_barcode).append(goods_type_html);
		}
		$('#scan_barcode').val('');
	}
	// 报错
    function error(msg){
        $('#alert_msg p').text(msg);
        $('#mask').fadeIn();
        $("input").attr('disabled', true);
    }
    
   
  	</script>
  	{/literal}
</head>
<body>
<div id="mask" style="display:none">
    <div id="alert_msg">
        <p>操作成功</p>
        <button id="error_msg">确认</button>
    </div>
</div>
{if $message} <div style="font-weight: bolder;color: red;">{$message}</div>{/if}
	<div>
			<div>
				<p class="back_title">退回类型：客户自退</p>
				<form id="first_form" action="part_service.php" method="post">
						<p><span>快递单号：{$tracking_number}
							<input type="hidden" value="{$tracking_number}"name="tracking_number" id="tracking_number">
							</span><span class="title">订单号：<input type="text" value="{$original_order_sn}" name="original_order_sn" id="original_order_sn"></span></p>
						{if $service_status=='INIT'}	
						<button id="load">加载</button>
						<button id="non_order_sn">默认无订单号</button>
						<input type="hidden" value="loadInfo" name="act" id="load_type">
						{/if} 
				</form>
			</div>
		{if $loadInfos}
		<form action="" method="post" id="load_form" onsubmit="location.href='index.php';">
			<div>
				<input type="hidden" value="{$tracking_number}" id="order_sn_tn" name="tracking_number">
				<input type="hidden" {if $original_order_sn}value="{$original_order_sn}"{/if} id="load_order_sn" name="order_sn">
				<span class="scan_text" style="font-weight: bolder;">原订单商品信息:</span>
				{if $service_status=='INIT'}<span>商品条码扫描：<input type="text" name="scan_barcode" id="load_scan_barcode" onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;"/></span>{/if}
				<table class="bWindow">
						<tr id="load_goods_head">
							<th>商品条码（商品串号）</th>
							<th>商品名称</th>
							<th>是否串号</th>
							<th>原订单数量</th>
							<th>可退数量</th>
							<th>退回数量</th>
							<th>商品新旧状态</th>
							<th>入库/拒绝情况</th>
						</tr>
						{foreach from=$loadInfos item=loadInfo}
						<tr class="rec_id" id="{if $loadInfo.rec_id}{$loadInfo.rec_id}{/if}">
							<!-- 商品条码，串号 -->
							<td class="product_barcode">{$loadInfo.product_barcode}<input type="hidden" class="product_barcode barcode_{$loadInfo.product_barcode}" {if $loadInfo.rec_id} name='scan_order_goods[{$loadInfo.rec_id}][barcode]'{/if}value="{$loadInfo.product_barcode}"></td>
							<!-- 商品名称 -->
							<td><input type="hidden" class="rec_id" {if $loadInfo.rec_id}value="{$loadInfo.rec_id}"{/if}>{$loadInfo.goods_name}</td>
							<!-- 是否串号 -->
							<td class="is_good_serial">
								<input type="hidden" {if $loadInfo.rec_id}name="scan_order_goods[{$loadInfo.rec_id}][is_serial]"{/if} value="{$loadInfo.is_serial}" class="is_serial">
								{if $loadInfo.is_serial=='Y'}
								是
								{foreach from=$loadInfo.serial_numbers item =serial_number}
								<input type="hidden" {if $loadInfo.rec_id}name="scan_order_goods[{$loadInfo.rec_id}][serial_numbers][]"{/if} value="{$serial_number}" class="serial_number_{$serial_number} serial_number"></input>
								{/foreach}
								{else}
								否
								{/if}	
							</td>
							<!-- 原订单数量 -->
							<td>{$loadInfo.goods_number}</td>
							<!-- 可退数量 -->
							<td class="can_back">{$loadInfo.service_amount_available}</td>
							<!-- 退回数量-->
							<td class="goods_back_num">{if $service_status=='INIT'} <input  {if $loadInfo.rec_id}class="back_num_{$loadInfo.rec_id} back_num"{/if} readonly value="0" type="text" {if $loadInfo.rec_id}name="scan_order_goods[{$loadInfo.rec_id}][goods_back_num]"{/if} />
								{else} <input  type="text"
								value="{$loadInfo.scan_goods_number_rec}" {if $loadInfo.rec_id} class="back_num_{$loadInfo.rec_id} back_num" name="scan_order_goods[{$loadInfo.rec_id}][goods_back_num]" {/if}value="0" readonly />
								{/if}
							</td>
							<!-- 商品新旧状态 -->
							<td {if $loadInfo.rec_id}class="goods_type_{$loadInfo.rec_id}"{/if}>{if $service_status=='INIT'} 
								<input type="radio" checked="checked" {if $loadInfo.rec_id}name="scan_order_goods[{$loadInfo.rec_id}][goods_type][0]" class="good_status_{$loadInfo.rec_id}_0"{/if} value="INV_STTS_AVAILABLE"/>全新
								<input type="radio" {if $loadInfo.rec_id}name="scan_order_goods[{$loadInfo.rec_id}][goods_type][0]" class="good_status_{$loadInfo.rec_id}_0"{/if} value="INV_STTS_USED" />二手<br/>
								{/if}
							</td>
							 <!-- 入库情况 -->
							<td>{foreach from=$loadInfo.scan_goods item=scan_good} {if
								$scan_good.goods_status=='INV_STTS_AVAILABLE'}全新{else}二手{/if} x {$scan_good.goods_number} ; 
								{/foreach}</td>
						</tr>
						{/foreach}
				</table>
				<div>
					<span>收货仓库： <select id="load_return_facility_id" name="return_facility_id">{if $service_status=='INIT'}
							{html_options options=$facility_user_list selected =$original_facility_id }{else}{html_options options=$facility_user_list selected =$scan_facility_id}{/if}
					</select>
					</span> 
					{if $facility_name}<span> 发货仓库 ：{$facility_name}</span>{/if}
					<br />
					<br /> <span class="remark_t" valign="top" align="center"> 仓库备注：</span><!-- <input type="text"  value="{$loadInfos[0].remark}" /> -->
					<textarea  class="remark" name="remark">{$loadInfos[0].remark}</textarea>
					
				</div>
				{if $service_status=='INIT'}
				<div class="buttons">
					<input class="button" type="button" value="确认入库"  onclick="form_submit('pass')"/>
					<input class="button" type="button" value="拒收入库" onclick="form_submit('refuse')"/>
					<input type="hidden" id="load_inner_check" name="inner_check" value="pass">
					<input type="hidden" name="act" value="storage">
					{elseif $service_status=='REJECT'}
					<input type="button" value="已拒绝" disabled="disabled"/>
					{elseif $service_status=='RECOVER'}
					<input type="button" value="已入库" disabled="disabled"/>
					{else}
					<input type="button" value="已验货" disabled="disabled"/>
				</div>			
				{/if}
			</div>
		</form>
		{/if}
	</div>
	<!-- QS id仍旧存在，会与上面的id冲突 -->
	<form  id="non_order_sn_form" style="display:none;"  action="part_service.php" method="post">
		<div>
			<input type="hidden" value="" id="non_order_sn_tn" name="tracking_number">
			<span class="scan_text" style="font-weight: bolder;">原订单商品信息:</span>
			<span>商品条码扫描：<input type="text" name="scan_barcode" id="scan_barcode" onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;"/></span>
			<table class="bWindow">
					<tr id="form_header">
						<th>商品条码（商品串号）</th>
						<th>商品名称</th>
						<th>是否串号</th>
						<th>退回数量</th>
						<th>商品新旧状态</th>
					</tr>
			</table>
			<div>
				<span>收货仓库： <select id="return_facility_id" name="return_facility_id">
						{html_options options=$facility_user_list selected =$original_facility_id }
				</select>
				<br /> <span class="remark_t" valign="top" align="center"> 仓库备注：</span>
				<textarea  class="remark" name="remark"></textarea>
				
			</div>
			<div class="buttons">
				<input type="hidden" name="inner_check" value="receive">
				<input type="hidden" name="act" value="storage">
				{if $service_status=='INIT'}
					<input class="button" id="receive" type="button" value="提交" onclick="form_submit('receive')"/>
					{else}
					<input class="button gray" disabled type="button" value="提交" />
				{/if}
			</div>			
		</div>
	</form>

</body>
</html>