<html>
<head>
<title>顺丰(代收货款)</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body {if $smarty.request.print == 1}onload="window.print()"{/if}>
<!-- 丧心病狂的ERP仓库改造党的爪牙大鲵为了批量打印快递面单效果加的 -->
{if $smarty.request.print != 2 && $smarty.request.print != 1}
<!-- 丧心病狂的大鲵干完了 20130807 ljni@i9i8.com -->
<input type="button" onClick="this.style.display='none';window.print();" value="打印">
<!-- 丧心病狂的ERP仓库改造党的爪牙大鲵为了批量打印快递面单效果加的 -->
{/if}
<!-- 丧心病狂的大鲵干完了 20130807 ljni@i9i8.com -->

<div style="position:absolute;font-size:12pt;top:60px;left:5px;letter-spacing:10px;">7698041295</div>
<div style="position:absolute;font-size:10pt;top:90px;left:5px;">东莞市乐其网络科技有限公司</div>
<div style="position:absolute;font-size:10pt;top:90px;left:210px;">{$order.party_name}</div>
<div style="position:absolute;font-size:10pt;top:115px;left:2px;">请亲自检查包裹完好后再签收，</br>
如有破损请拒收，并联系我们。</br>
否则概不负责。</div>
<!-- 蓝光的电话比较特殊 -->
{if $order.party_id != '64'}
<!-- <div style="position:absolute;font-size:10pt;top:194px;left:1px;">0571</div> -->
<div style="position:absolute;font-size:10pt;top:194px;left:68px;">{$order.c_tel}</div>
{else}
<div style="position:absolute;font-size:10pt;top:194px;left:1px;">0769</div>
<div style="position:absolute;font-size:10pt;top:194px;left:68px;">89226666转7226</div>
{/if}
<!--至此为寄件人信息-->

<div style="position:absolute;font-size:10pt;top:240px;left:210px;">{$order.consignee}</div>
<div style="position:absolute;font-size:10pt;top:260px;left:1px;width:260px;line-height:200%;">{if $order.province != ''}[{$order.province}]{/if}{if $order.city != ''}[{$order.city}]{/if}{if $order.district != ''}[{$order.district}]{/if}{$order.address}</div>
<div style="position:absolute;font-size:10pt;top:315px;left:125px;">{$order.mobile}<br />{$order.tel}</div>
<!-- 保价 -->
<!--<div style="position:absolute;font-size:10pt;top:325px;left:170px;">15801710889</div>已经移到上面  -->
<div style="position:absolute;font-size:10pt;top:385px;left:10px;font-weight:bolder;">{if $order.party_id == $smarty.const.PARTY_LEQEE_MOBILE}OPPO电子{else}步步高电子{/if}&nbsp;&nbsp;(订单号：{$order.order_sn})</div>
<div style="position:absolute;font-size:14pt;top:385px;left:220px;">1</div>
<div style="position:absolute;font-size:12pt;top:115px;left:360px;">7698041295</div>

<div style="position:absolute;font-size:12pt;top:150px;left:375px;font-weight:bolder;">{$order.order_amount|price_format}</div>
<div style="position:absolute;font-size:25pt;top:115px;left:260px;">√</div><!--代收货款 -->
<div style="position:absolute;font-size:11pt;top:150px;left:267px;"><strong>代收货款</strong></div>
<div style="position:absolute;font-size:15pt;top:10px;left:480px;font-weight:bolder;">769F</div><!--原寄地-->
<div style="position:absolute;font-size:30pt;top:40px;left:460px;">√</div><!--寄方付 -->
<div style="position:absolute;font-size:12pt;top:90px;left:475px;letter-spacing:10px;">7698041295</div>
<div style="position:absolute;font-size:12pt;top:130px;left:475px;line-height:100%">电子产品<br />只能验收外观不得试机</div>

<div style="position:absolute;font-size:12pt;top:185px;left:472px;line-height:100%">047959</div>
<div style="position:absolute;font-size:13pt;top:250px;left:552px;line-height:100%">乐其</div><!-- 寄件人签署 -->
<div style="position:absolute;font-size:12pt;top:395px;left:480px;width:160px;">集团客户</div>
<div style="position:absolute;font-size:12pt;top:420px;left:495px;">本人签收<br></div>

</body>
</html>
