<html>
<head>
<title>德邦物流</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body {if $smarty.request.print == 1}onload="window.print()"{/if}>
<!-- 丧心病狂的ERP仓库改造党的爪牙大鲵为了批量打印快递面单效果加的 -->
{if $smarty.request.print != 2 && $smarty.request.print != 1}
<!-- 丧心病狂的大鲵干完了 20130807 ljni@i9i8.com -->
<input type="button" onClick="this.style.display='none';window.print();" value="打印">
<!-- 丧心病狂的ERP仓库改造党的爪牙大鲵为了批量打印快递面单效果加的 -->
{/if}
<!-- 丧心病狂的大鲵干完了 20130807 ljni@i9i8.com -->
<div style="position:absolute;font-size:11pt;top:45px;left:30px;">{$order.party_name}</div><!--寄件人-->
<div style="position:absolute;font-size:12pt;top:70px;left:10px;"><!--0769-89226666转7226-->{$order.c_tel}</div>
<div style="position:absolute;font-size:11pt;top:150px;left:96px;"><!--上海乐其网络科技有限公司--></div><!--单位名-->
<div style="position:absolute;font-size:15pt;top:70px;left:230px;">{$order.company_zipcode}</div><!--邮政编码-->
<div id="svg" style="width:200px;height:200px;left:300px;position:absolute;top:100px;"> </div>

<div style="position:absolute;font-size:12pt;top:160px;left:230px;">{$order.consignee}</div>
<div style="position:absolute;font-size:12pt;top:200px;left:70px;">{$order.mobile|default:$order.tel}</div>
<div style="position:absolute;font-size:11pt;top:230px;left:26px;width:80px;">{$order.province}</div>
<div style="position:absolute;font-size:11pt;top:230px;left:100px;width:80px;">{$order.city}</div>
<div style="position:absolute;font-size:11pt;top:230px;left:170px;width:80px;">{$order.district}</div>
<div style="position:absolute;font-size:11pt;top:255px;left:16px;width:200px;">{$order.address}</div>
<!-- 广东省内是精准城运 -->
{if $order.province != '广东' }
<div style="position:absolute;font-size:20pt;top:285px;left:205px;">√</div><!--精准卡航 -->
{else}
<div style="position:absolute;font-size:20pt;top:285px;left:255px;">√</div><!--精准城运 -->
{/if}

<div style="position:absolute;font-size:12pt;top:200px;left:230px;width:70px;letter-spacing:3px;">{$order.zipcode}</div>
<div style="position:absolute;font-size:12pt;top:45px;left:380px;width:70px;letter-spacing:3px;">{$order.taobao_order_sn}</div>
<div style="position:absolute;font-size:12pt;top:70px;left:380px;width:100px;letter-spacing:3px;">oppo电子</div>
<div style="position:absolute;font-size:11pt;top:300px;left:390px;">{$smarty.now|date_format:"%Y-%m-%d"}</div>
<!-- <div style="position:absolute;font-size:11pt;top:165px;left:650px;">{$smarty.now|date_format:"%Y-%m-%d"}</div>年份
<div style="position:absolute;font-size:11pt;top:140px;left:650px;">乐其</div> -->
<div style="position:absolute;font-size:11pt;top:360px;left:400px;width:100px;">请检查包裹再签收，破损请拒收</div>


</body>
</html>
