<html>
<head>
<title>申通</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body {if $smarty.request.print == 1}onload="window.print()"{/if}>
<!-- 丧心病狂的ERP仓库改造党的爪牙大鲵为了批量打印快递面单效果加的 -->
{if $smarty.request.print != 2 && $smarty.request.print != 1}
<!-- 丧心病狂的大鲵干完了 20130807 ljni@i9i8.com -->
<input type="button" onClick="this.style.display='none';window.print();" value="打印">
<!-- 丧心病狂的ERP仓库改造党的爪牙大鲵为了批量打印快递面单效果加的 -->
{/if}
<!-- 丧心病狂的大鲵干完了 20130807 ljni@i9i8.com -->

<div style="position:absolute;font-size:11pt;top:40px;left:80px;">{$order.party_name}</div>
<div style="position:absolute;font-size:11pt;top:88px;left:70px;">乐其</div>
<div style="position:absolute;font-size:11pt;top:130px;left:70px;">请亲自检查包裹完好后再签收，</br>如有破损请拒收，并联系我们。</br>谢谢！</div>
<div style="position:absolute;font-size:11pt;top:200px;left:90px;">{$order.c_tel}</div>
<div style="position:absolute;font-size:20pt;top:230px;left:40px;"></div>
<div style="position:absolute;font-size:11pt;top:235px;left:90px;">{$order.goods_type}</div>
<div style="position:absolute;font-size:11pt;top:320px;left:560px;">请检查包裹再签收，破损请拒收</div>
<div style="position:absolute;font-size:11pt;top:40px;left:460px;">{$order.consignee}</div>
<div style="position:absolute;font-size:11pt;top:40px;left:655px;">{$order.city}</div>
<!-- old way
<div style="position:absolute;font-size:11pt;top:118px;left:460px;">{if $order.province != ''}{$order.province}{/if}</div>
<div style="position:absolute;font-size:11pt;top:118px;left:560px;">{if $order.city != ''}{$order.city}{/if}</div>
<div style="position:absolute;font-size:11pt;top:118px;left:660px;">{if $order.district != ''}{$order.district}{/if}</div>
-->
<div style="position:absolute;font-size:11pt;top:118px;left:460px;">
	{if $order.province != ''}{$order.province}{/if} &nbsp;&nbsp;&nbsp;
	{if $order.city != ''}{$order.city}{/if}&nbsp;&nbsp;&nbsp;
	{if $order.district != ''}{$order.district}{/if}
</div>

<div style="position:absolute;font-size:11pt;top:150px;left:390px;width:380px;">{$order.address}<br />(订单号：{$order.taobao_order_sn})</div>
<div style="position:absolute;font-size:11pt;top:200px;left:490px;">{$order.mobile}</div>
<div style="position:absolute;font-size:11pt;top:200px;left:640px;">{$order.tel}</div>
<div style="position:absolute;font-size:20pt;top:260px;left:725px;">√</div><!-- 协议结算 -->

<div style="position:absolute;font-size:11pt;top:310px;left:50px;">{$order.sendIDUser}{$order.sendIDCard}<br/>
<span>{if $goods}{foreach from=$goods item=good}{$good.sku_num} ;{/foreach}{/if}</span>
</div>
<div style="position:absolute;font-size:11pt;top:340px;left:80px;">{$smarty.now|date_format:"%Y　%m　%d"}</div>


{foreach from=$sinri_plus item=plus_text key=plus_type}
<!-- 
	SINRI PLUS 20140401 
	北京仓申通快递面单右下角增加到达城市打印项：
	打印内容：市+区 或 县+区
	打印格式：48号加粗
	【ERP需求】北京仓申通快递到达城市打印设置 
	http://localhost/erp/admin/print_shipping_order3.php?order_id=9&service_goods_back=0&carrier_id=20
-->
	{if $plus_type=="20140401_BJST_01" }
		<div style="position:absolute;font-size:30pt;font-weight:bold;top:320px;left:560px;">{$plus_text}</div>
	{/if}
	<!--
	东莞申通添加 已验视 字样
	-->
	{if $plus_type=='20140529_DGST_01' }
		<div style="position:absolute;font-size:20pt;top:260px;left:70px;">{$plus_text}</div>
	{/if}
{/foreach}


</body>
</html>