<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="styles/default.css" rel="stylesheet" type="text/css">
	<title>待配货</title>
</head>
<body id="main">
<form >
订单号：
<input name="search_text" value="{$smarty.request.search_text}">
<input type="submit" value="        搜索        ">
<input type="hidden" name="act" value="search">
</form>
<br/>

<br>
<p style="text-align:center;">

<p style="text-align:center;">物流查看&nbsp;&nbsp;共{$count_all}单 </p>


<!--{foreach from=$orders item=order}-->
<table cellpadding="0" cellspacing="0" class="bWindow">
  <tr style="background:#f1f1f1;">
    <td style="text-align:left;">
    	订单号：<a href="distribution_delivery.php?order_sn={$order.order_sn}" target="_blank">{$order.order_sn}</a>
	</td>
    <td>客户名：{$order.consignee}&nbsp;&nbsp;&nbsp;&nbsp;下单时间：{$order.order_time}</td>
    <td>订单状态：{$order_status_list[$order.order_status]}&nbsp;&nbsp;
    {if $order.reserve_status == 'Y'}
    预定成功
    {elseif $order.reserve_status == 'N'}
    <strong><span style='color:red;'>预定失败</span></strong>
    {else}
    <strong><span style='color:red;'>未预定</span></strong>
    {/if}
    &nbsp;&nbsp;{$pay_status_list[$order.pay_status]}
    &nbsp;&nbsp;{$shipping_status_list[$order.shipping_status]}</td>
    <td>支付方式：{$order.pay_name}&nbsp;&nbsp;&nbsp;&nbsp;送货方式：{$order.shipping_name} </td>
  </tr>

	<tr>
		<td colspan="5">
    	<table cellpadding="0" cellspacing="0" style="width: 100%;">
			<tr>
            	<td style="width:5%;">编号</td>
            	<td style="width:30%;">商品名称</td>
                <td style="width:15%;">商品串号</td>
                <td style="width:35%;">留言</td>
            </tr>
<!--{foreach from=$order.goods_list key=key item=goods name=goods}-->
			<tr>     
			<td>
			{$key+1}
			</td>
			<td>
				{$goods.goods_name} × {$goods.goods_number} &nbsp;&nbsp;商家编码:{$goods.productcode} 
				<!--{if $goods.qohTotal > 0}-->
				&nbsp;&nbsp;<span>库存中总共有{$goods.qohTotal}件</span>
				<!--{/if}-->
			</td>
			<td>
				{$goods.serial_number}
			</td>
			<td align="left">
				{if $order.postscript != ''}
					<span style="color:red">客户备注：</span>{$order.postscript}<br>
				{/if}
				{if $order.action_note != ''}
					<span>小二备注：</span>{$order.action_note}<br>
				{/if}
			</td>
		</tr>

         <!--{/foreach}-->
        </table>
    </td>
</tr>


</table>
<br />
<!--{/foreach}-->

</body>
</html>
