<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/default.css" rel="stylesheet" type="text/css">
<title>采购核算方法</title>
</head>
<body>
<a href='purchaser_performance.php'>采购提成</a>
<a href='purchase_profit.php'>毛利表</a>
&nbsp;&nbsp;<a href='storage_cycle.php'>库存周期表</a>
&nbsp;&nbsp;<a href='storagestatus.php'>当前库存表</a>
&nbsp;&nbsp;<a href='t_purchase_loss.php'>退货损失表</a>
</body>
</html>