<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>批拣单详情页</title>
<link type="text/css" rel="stylesheet" href="styles/default.css">
<script type="text/javascript" src="../admin/misc/jquery.js"></script>
<style type="text/css">
	<!--{literal}-->
	td {
		text-align: center;
	}
	h2 {
	   text-align: center;
	}
	h3{
	   text-align: center;
	}
	<!--{/literal}-->
</style>
<script type="text/javascript">
{literal}
function showdisplaytype(num,bpsn){
	document.getElementById('s' + num).style.display = '';
	document.getElementById('s' + (1 - num)).style.display = 'none';
	document.getElementById('st_id').value = num;
	document.getElementById('st'+num).style.background = 'url(images/order_liBg_1.gif)  0 5px no-repeat';
	document.getElementById('st'+ (1 - num)).style.background = 'url(images/order_lion.gif)  0 5px no-repeat';
	if(num == 0){
		 location.href = "display_batch_pick_detail.php?act=location_barcode&display_tab_id="+num+"&batch_pick_sn="+bpsn;
	}else{
		 location.href = "display_batch_pick_detail.php?act=dispatch_bill&display_tab_id="+num+"&batch_pick_sn="+bpsn;
	}
	
}
{/literal}
</script>
</head>
<body>
<h2>批拣单详情页</h2>
<h3>批拣单号：{$smarty.request.batch_pick_sn}</h3> 
<form method="post" action="display_batch_pick_detail.php?act=search" onsubmit="">
   <div name = "display_tab" style = "margin-bottom:-1px;margin-top:20px;">
        <div id = "st0" style="width:110px;height:21px;padding-top:11px;
			background:{if $display_option->display_tab_id_ == '0'}url(images/order_liBg_1.gif){else}url(images/order_lion.gif){/if} 0 5px no-repeat;
			float:left;text-align:center;margin-left:-1px;cursor:pointer;list-style:none;" onclick="showdisplaytype(0,'{$smarty.request.batch_pick_sn}')">库位信息</div>
        <div id = "st1" style="width:110px;height:21px;padding-top:11px;
			background:{if $display_option->display_tab_id_ == '1'}url(images/order_liBg_1.gif){else}url(images/order_lion.gif){/if} 0 5px no-repeat;
			float:left;text-align:center;margin-left:-1px;cursor:pointer;list-style:none;" onclick="showdisplaytype(1,'{$smarty.request.batch_pick_sn}')">发货单信息</div>
       <input id = "st_id" name = "display_tab_id" type="hidden" value = {$display_option->display_tab_id_}>
       <div style="clear:both;padding:11px;border:#b2b2b2 1px solid">
		 <div id="s0" {if $display_option->display_tab_id_ == '1'}style = "display:none"{/if}>
			<h3 style="text-align: left;color:#09F;">库位信息列表</h3>
			<table class="bWindow" style="margin-top:10px;width:1400px;">
				<tr>
					<th>库位条码</th>
					<th>商品名</th>
					<th>发货单号</th>
					<th>预定个数</th>
					<th>出库个数</th>
					<th>是否完成</th>
				</tr>
				{assign var=location_barcode value=""}
				{assign var=goods_name value=""}
		        {foreach from=$shipment_list item=shipment}
			        <!-- 为合并相同的商品名作准备 -->
			        {assign var=goods_name_count value=0}
			        {foreach from=$shipment_list item=shipment1}
			         <!--{if $shipment.goods_name == $shipment1.goods_name}-->
			           {assign var=goods_name_count value=$goods_name_count+1}
			         <!--{/if}-->
			        {/foreach}
					 <tr>
					{if $shipment.barcode_number > 1}
					{assign var=count value=$shipment.barcode_number}
					{else}
					{assign var=count value=1}
					{/if}
					    <!--{if $location_barode != $shipment.location_barcode}-->
						<td rowspan="{$count}">{$shipment.location_barcode}</td>
						<!--{/if}-->
						<!--{if $goods_name != $shipment.goods_name}-->
						<td rowspan="{$goods_name_count}">{$shipment.goods_name}</td>
						<!--{/if}-->
						<td>{$shipment.shipment_id}</td>
						<td>{$shipment.reserved_quantity}</td>
						<td>{$shipment.out_quantity}</td>
						<td>{if $shipment.status_id == 'Y'}完成{else}未完成{/if}</td>
					</tr>
					{assign var=location_barode value=$shipment.location_barcode}
					{assign var=goods_name value=$shipment.goods_name}
			    {/foreach}
			</table>
		  </div>
	 	 <div id="s1" {if $display_option->display_tab_id_ == '0'}style = "display:none"{/if}>
		    <h3 style="text-align: left;color:#09F;">发货单信息列表</h3>
		    <table class="bWindow" style="margin-top:10px;width:1400px;">
				<TR>
		           <th>格子号码</th>
		           <th>发货单号</th>
		           <th>组织名称</th>
		           <th>发货单拣货状态</th>
		           <th>主订单</th>
		           <th>主订单发货状态</th>
		           <th>快递名称</th>
		           <th>面单号</th>
		       </TR>
		       <!--{foreach from=$BPSN_MAPPINGS item=BPSN_MAPPING}-->
		       <tr>
					<td >{$BPSN_MAPPING.grid_id}</td>
					<td >{$BPSN_MAPPING.shipment_id}</td>
					<td >{$BPSN_MAPPING.PARTY_NAME}</td>
					<td >{$BPSN_MAPPING.is_pick}</td>
					<td><a href="order_edit.php?order_id={$BPSN_MAPPING.ORDER_ID}" target="blank">{$BPSN_MAPPING.order_sn}</a>
					<td >{$BPSN_MAPPING.shipping_status_name}</td>
					<td >{$BPSN_MAPPING.carrier}</td>
					<td >{$BPSN_MAPPING.tracking_number}</td>
				</tr>
			  <!-- {/foreach} -->
		  </table>
 	    </div>
      </div>
  </div>
</form>
</body>
</html>