<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>上架RF枪扫描</title>
  <script type="text/javascript" src="misc/jquery.js"></script>
  <script type="text/javascript" src="misc/jquery.ajaxQueue.js"></script>
  <!-- RF枪键盘监听，页面跳转 -->
  <script type="text/javascript" src="js/js_wms/rf_scan.js"></script>
  
  <!-- Calendar -->
	<script type="text/javascript" src="js/style/zapatec/utils/zapatec.js"></script>
	<script type="text/javascript" src="js/style/zapatec/zpcal/src/calendar.js"></script>
	<script type="text/javascript" src="js/style/zapatec/zpcal/lang/calendar-en.js"></script>
	<link rel="stylesheet" href="js/style/zapatec/zpcal/themes/winter.css" />
	<link rel="stylesheet" href="styles/rf_scan.css" />
	
 <!-- Calendar /-->  
  <style type="text/css">
    <!--{literal}-->
    .tip {
        color: #888;
    }
    .require {
        color: #F00;
    }
    .loading {
        background: #F1F1F1 url('misc/indicator.gif') right center no-repeat;
    }
    <!--{/literal}-->
  </style>
  
	<script type="text/javascript">
	//{literal}
	// <![CDATA[

    $(document).ready(function(){
        // 绑定滑动效果
        $('legend.expand').bind('click', function(event){
            $(this).next().slideToggle('normal');
        });
        
        // 确定页面载入时鼠标焦点的定位
        $('#from_location').focus();  // 定位到收货容器扫描框
        
        // 绑定收货容器扫描事件
        $('#from_location').bind('keyup', scan);

        // 绑定上架容器扫描事件
        $('#to_location').bind('keyup', scan);
  	 
        // 绑定商品条码扫描事件
        $('#goods_barcode').bind('keyup', scan);
        
        // 绑定商品数量按键事件
        $('#goods_number').bind('keyup', scan);
        
        // 绑定生产日期按键事件
        $('#validity').bind('keyup', scan);

 　　     
        data_init();

        // 看商品的属性来展示

    });

    // 上架容器检测
    var flag_from_location = true;
    function from_location_scan(event,grouding_location_barcode,location_id)
    {
    	// 判断扫描触发的按键
    	if (KEY_MAP[event.keyCode] != RF_SCAN_KEY) {
    	    action_event(event,location_id);
    	    return;
    	}
        var $note = $('#'+location_id+'_note');
        if (!flag_from_location) {
            var tip = "当前操作还在进行...请稍等";
            $note.val(tip);
            return; 
        }
        flag_from_location = false;
        var tip = "正在验证中...请稍等";
        $note.val(tip);
        $note.addClass('loading');
        
        res_check = check_grouding_location_task(grouding_location_barcode);
        $note.removeClass('loading'); 
        if(res_check){
        	 $note.val('扫描成功哦');
        }else{
        	$note.val('');
        	flag_from_location = true;
        	return false;
        }
    	flag_from_location = true;
        sub_mouse_down(location_id);
    }
    //ajax 上架容器检测
    function check_grouding_location_task(grouding_location_barcode){
    	 if(grouding_location_barcode == ''){
    		 alert("上架容器为空！");
    		 return false;
    	 }
    	 var result = "";
         $.ajax({
             mode: 'abort',
             async : false,
             type: 'POST',
             dataType: 'json',
             url : 'ajax.php?act=check_grouding_location_task', 
             data: 'grouding_location_barcode=' + grouding_location_barcode,
             success: function(data) {
            	 // 全部上架为data.success为false,并且data.grouding_all为true
            	 if(data.success){
            		 result = true;
            	 }else{
            		 result = false;
            		 alert(data.error);
            	 }
             },
             error: function() {
            	result = false;
             	alert('ajax请求错误, 请重新扫描条码:' + grouding_location_barcode);
             }
         }); 
         return result;
    }
    
    // 商品条码检测
    var flag_goods_barcode = true;
    function goods_barcode_scan(event,goods_barcode,location_id)
    {
    	var grouding_location_barcode = $('#from_location').val();
    	var goods_barcode = $('#goods_barcode').val();
    	//alert(grouding_location_barcode);alert(goods_barcode);
         
    	// 判断扫描触发的按键
    	if (KEY_MAP[event.keyCode] != RF_SCAN_KEY) {
    	    action_event(event,location_id);
    	    return;
    	}
        var $note = $('#'+location_id+'_note');
        if (!flag_goods_barcode) {
            var tip = "当前操作还在进行...请稍等";
            $note.val(tip);
            return; 
        }
        flag_goods_barcode = false;
        var tip = "正在验证中...请稍等";
        $note.val(tip);
        $note.addClass('loading');

        //检查商品条码
        res_check = check_grouding_goods_barcode(grouding_location_barcode,goods_barcode);
        $note.removeClass('loading'); 
        if(res_check){
        	$note.val('扫描成功哦');
        }else{
        	$note.val('');
        	flag_goods_barcode = true;
        	return false;
        }
        
        // 检查是否串号控制
        var party_id = get_party_by_location(grouding_location_barcode,goods_barcode);
   	    var res = check_goods_is_serial(party_id,goods_barcode);
   	    var serial_number = goods_barcode;
        if(res['success']) {
	       	 // 串号控制的话，找到goods_barcode
	       	 if(res['res']) {
	       	   	 var res_barcode = get_goods_barcode(goods_barcode);
	       	   	 goods_barcode = res_barcode['goods_barcode'];
	       	 }
        } else {
        	 flag_goods_barcode = true;
       		 return false;
        }
        
        // 推荐上架库位
	    recommend_grouding_location(grouding_location_barcode,goods_barcode);
        
	    if(res['success']) {
	    	if(res['res']) {
	    		var res_serial = get_location_serail_goods_number(grouding_location_barcode,goods_barcode,serial_number);
	        	$('#goods_number').val(res_serial['goods_number']);
	        	$('#goods_number').attr('disabled',true);
	        	if(parseInt(res_serial['goods_number']) > 0) {
		        	$('#goods_number_note').val('该商品未入库数量为1');
	        	} else {
		        	$('#goods_number_note').val('该串号商品已经上架');
	        	}
	        } else {
	        	//非串号控制时，获取商品未上架数
	    	    var res = get_grouding_not_in_number(grouding_location_barcode,goods_barcode);
	       		if(res['success']) {
	       			var not_in_number = res['not_in_number'];
	       			$('#goods_number').val(not_in_number);
		        	$('#goods_number').attr('disabled',true);
	       			$('#goods_number_note').val(' 未上架数：'+not_in_number);
	       		} 
	       		else 
	       		{
	       			flag_goods_barcode = true;
	       			return false;
	       		}
	        }
        } else {
        	 flag_goods_barcode = true;
      		 return false;
        }
	    flag_goods_barcode = true;
	    sub_mouse_down(location_id);

    }
  // ajax 商品条码检测
   function check_grouding_goods_barcode(grouding_location_barcode,goods_barcode){
	   if(grouding_location_barcode == ''){
		   alert("上架容器条码为空！");
		   return false;
	   }
	   if(goods_barcode == ''){
		   alert("商品条码为空或商品串号为空！");
		   return false;
	   }
	   var result = "";
       $.ajax({
           mode: 'abort',
           async : false,
           type: 'POST',
           dataType: 'json',
           url : 'ajax.php?act=check_grouding_goods_barcode', 
           data: 'grouding_location_barcode=' + grouding_location_barcode+'&goods_barcode=' + goods_barcode,
           success: function(data) {
           	if(data.success) {
               	result = data.success;
           	} else {
           		alert(data.error);
               	result = false;
           	}
           },
           error: function(data) {
           	 alert('ajax请求错误, 请重新扫描条码:' + goods_barcode);
           	 result = false;
           }
       }); 
       return result;
   }
    
  //获取商品未上架数
   function get_grouding_not_in_number(grouding_location_barcode,goods_barcode)
   {
	   	if(!grouding_location_barcode || !goods_barcode) {
	   		alert('得到商品未上架的个数时订单号或商品条码为空');
	   		return;
	   	}
  	    //alert('get_grouding_not_in_number grouding_location_barcode:'+grouding_location_barcode+' goods_barcode:'+goods_barcode);
        var result = Array();
        $.ajax({
           async : false,
           type: 'POST',
           dataType: 'json',
           url : 'ajax.php?act=get_grouding_not_in_number', 
           data: 'grouding_location_barcode=' + grouding_location_barcode +'&goods_barcode=' + goods_barcode,
           error: function() { alert("得到商品未上架的个数ajax请求错误goods_barcode:"+goods_barcode); result = false; },
           success: function(data) {
	   	       if(data.success == true) {
	   	       	  result['not_in_number'] = data.not_in_number;
	   	       	  result['success'] = true;
	   	       } else {
	   	    	   alert(grouding_location_barcode+":"+data.error);
	   	    	   result['success'] =  false;
	   	       }
           }
        }); 
        return result;
   }

    // 商品数量检测
    var flag_goods_number = true;
    function goods_number_scan(event,input_number,location_id)
    {
    	var grouding_location_barcode = $('#from_location').val();
    	var goods_barcode = $('#goods_barcode').val();
    	// 不用ctrl触发，只是翻页特殊情况，所以还是自己获取比较好
    	var input_number = $('#goods_number').val();

    	// 判断扫描触发的按键
    	if (KEY_MAP[event.keyCode] != RF_SCAN_KEY) {
    	    action_event(event,location_id);
    	    return;
    	}
        var $note = $('#'+location_id+'_note');
        if (!flag_goods_number) {
            var tip = "当前操作还在进行...请稍等";
            $note.val(tip);
            return; 
        }
        flag_goods_number = false;
        var tip = "正在验证中...请稍等";
        $note.val(tip);
        $note.addClass('loading');
        
        // 数字格式检查
        if(!check_input_number(input_number)) {
            $note.removeClass('loading');
        	flag_goods_number = true;
        	$note.val('');
        	return false;
        }
        
        res_check = check_grouding_goods_number(grouding_location_barcode,goods_barcode,input_number);
        $note.removeClass('loading');
        if(res_check){
        	$note.val('扫描成功哦');
        }else{
        	$note.val('');
        	flag_goods_number = true;
        	return false;
        }
        flag_goods_number = true;
        
        sub_mouse_down(location_id);
    }
    //ajax 商品数量检测
    function  check_grouding_goods_number(grouding_location_barcode,goods_barcode,input_number){
    	if(grouding_location_barcode == ''){
    		alert("上架容器条码为空！");
    		return false;
    	}
    	if(goods_barcode == ''){
    		alert("商品条码为空！");
    		return false;
    	}
    	if(input_number == ''){
    		alert("上架商品数量为空！");
    		return false;
    	}
    	var result = "";
        $.ajax({
            mode: 'abort',
            async : false,
            type: 'POST',
            dataType: 'json',
            url : 'ajax.php?act=check_grouding_goods_number', 
            data: 'grouding_location_barcode=' + grouding_location_barcode+'&goods_barcode=' + goods_barcode +'&input_number=' + input_number,
            success: function(data) {
            	if(data.success){
            		result = data.success;
            	}else{
            		alert(data.error);
            		result = false;
            	}
            },
            error: function() {
            	alert('ajax请求错误, 请重新扫描条码:' + goods_barcode);
            	result = false;
            }
        }); 
        return result;
    }
    // 储位容器检测
    var flag_to_location = true;
    function to_location_scan(event,to_location_barcode,location_id)
    {
    	var from_location_barcode = $("#from_location").val();
    	// 判断扫描触发的按键
    	if (KEY_MAP[event.keyCode] != RF_SCAN_KEY) {
    	    action_event(event,location_id);
    	    return;
    	}
        var $note = $('#'+location_id+'_note');
        if (!flag_to_location) {
            var tip = "当前操作还在进行...请稍等";
            $note.val(tip);
            return; 
        }
        flag_to_location = false;
        var tip = "正在验证中...请稍等";
        $note.val(tip);
        $note.addClass('loading');
        //储位容器检查
        res_check = check_to_location_barcode_party(from_location_barcode,to_location_barcode,'IL_LOCATION');
        $note.removeClass('loading'); 
        if(res_check){
        	$note.val('扫描成功哦');
        }else{
        	$note.val('');
        	flag_to_location = true;
        	return false;
        }
        flag_to_location = true;
        sub_mouse_down(location_id);
    }

     // 上架容器转换
	 function grouding_and_location_transaction()
	 {
	     var from_location_barcode = $('#from_location').val();
	     var to_location_barcode = $('#to_location').val();
	   	 var goods_barcode = $('#goods_barcode').val();
	   	 var goods_number = $('#goods_number').val();
	   	 var serial_number = '';
	   	 // 检查是否串号控制
	   	 var party_id = get_party_by_location(from_location_barcode,goods_barcode);
	   	 var res = check_goods_is_serial(party_id,goods_barcode);
	   	 //alert('开始上架');

         if(res['success']) {
        	 if(res['res']) {
        	   	 var serial_number = goods_barcode;
        	   	 var res_barcode = get_goods_barcode(serial_number);
        	   	 goods_barcode  = res_barcode['goods_barcode'];
        	 }
         } else {
        	 return false;
         }
	   	 
	   	 //alert('party_id:'+party_id+' from_location_barcode:'+from_location_barcode+' to_location_barcode:'+to_location_barcode+' goods_barcode:'+goods_barcode+' goods_number:'+goods_number+' serial_number:'+serial_number);
	   	 //return false;
	     var result = "";
	     $.ajax({
	         async : false,
	         type: 'POST',
	         dataType: 'json',
	         url : 'ajax.php?act=common_location_transaction', 
	         data: 'from_location_barcode=' + from_location_barcode + '&to_location_barcode=' + to_location_barcode + '&goods_barcode=' + goods_barcode +'&serial_number=' + serial_number +'&goods_number='+goods_number,
	         error: function() { alert("上架容器转换ajax请求错误！"); result = false; },
	         success: function(data) {
		       	if(data.success) {
		       		alert("上架容器转换成功！"+to_location_barcode);
		       		result = true;
		       	} else {
		       		if(data.error) {
		       			alert(data.error);
		       			result = false;
		       		}
		       	}
	         }
	     }); 
	     return result;
	 }
    
     
	 /**
	  * 根据上架容器，商品条码得到组织id
	  */
	  function get_party_by_location(from_location_barcode,goods_barcode)
	  {
		  if(!from_location_barcode || !goods_barcode) {
			  alert('根据上架容器,商品条码得到组织id时参数为空！');
			  return false;
		  }
	      var result = false;
	      $.ajax({
	          async : false,
	          type: 'POST',
	          dataType: 'json',
	          url : 'ajax.php?act=get_party_by_location', 
	          data: 'from_location_barcode=' + from_location_barcode+'&goods_barcode='+goods_barcode,
	          error: function() { alert("根据上架容器，商品条码得到组织id ajax请求错误"); result = false; },
	          success: function(data) {
	        	  if(data.success) {
	        		  result = data.res;
	        	  }
	          }
	      }); 
	      return result;
	  }
	 
     // 推荐上架库位
	 function recommend_grouding_location(grouding_location_barcode,goods_barcode)
	 {
    	 if(!grouding_location_barcode || !goods_barcode) {
    		 alert('推荐上架库位时上架容器条码或商品条码为空!');
    		 return false;
    	 }
	     var result = "";
	     $.ajax({
	         async : false,
	         type: 'POST',
	         dataType: 'json',
	         url : 'ajax.php?act=recommend_grouding_location', 
	         data: 'grouding_location_barcode=' + grouding_location_barcode+'&goods_barcode='+goods_barcode+'&status_id='+'INV_STTS_AVAILABLE',
	         error: function() { alert("推荐上架库位ajax请求错误！"); result = false; },
	         success: function(data) {
		       	if(data.success) {
		       		$('#goods_barcode_note').val(' 推荐：'+data.location_barcode);
		       		$('#to_location_note').val(' 推荐：'+data.location_barcode);
		       		$('#to_location').val(data.location_barcode);
		       		$('#to_location').attr('disabled',true);
		       		result = true;
		       	} else {
		       		$('#to_location').attr('disabled',false);
		       		$('#goods_barcode_note').val('没有找到推荐库位哦');
		       	}
	         }
	     }); 
	     return result;
	 }
     
     // 检测上架容器是否完全上架
	 function check_all_grouding(grouding_location_barcode)
	 {
    	 if(!grouding_location_barcode) {
    		 alert('检测上架容器是否完全上架时上架容器条码为空!');
    		 return false;
    	 }
	     var result = "";
	     $.ajax({
	         async : false,
	         type: 'POST',
	         dataType: 'json',
	         url : 'ajax.php?act=check_grouding_location_task', 
	         data: 'grouding_location_barcode=' + grouding_location_barcode,
	         error: function() { alert("检测批次是否完全入库ajax请求错误！"); result = false; },
	         success: function(data) {
	        	// 全部上架为data.success为false,并且data.grouding_all为true
		       	if(!data.success && data.all_grouding) {
		       		alert(data.error);
		       		result = true;
		       	} else {
		       		if(data.error) {
		       		   alert(data.error);
		       		}
		       		result = false;
		       	}
	         }
	     }); 
	     return result;
	 }
     
	// ]]>
	//{/literal}
	</script>
</head>

<body>

<form method="post" >

<table class="bWindow">

<tr id="tr_from_location" align="center">
  <td style="width:30%">上架容器</td>
  <td >
		<input type="text" style="width:90%" id="from_location" value="" >
  </td>
</tr>

<tr id="tr_from_location_note" align="center">
  <td style="width:30%">提示</td>
  <td >
  		<input type="text" style="width:90%" id="from_location_note" readonly='readonly' value="" >
  </td>
</tr>


<tr id="tr_cur_position" align="center">
  <td style="width:30%">当前位置</td>
  <td><textarea style="width:90%" rows="1" cols="100" id="cur_position" value="" ></textarea></td>
</tr>

<tr id="tr_goods_barcode" align="center">
  <td style="width:30%">商品条码</td>
  <td>
		<input type="text" style="width:90%" id="goods_barcode" value="" >
  </td>
</tr>

<tr id="tr_goods_barcode_note" align="center">
  <td style="width:30%">提示</td>
  <td>
		<input type="text" style="width:90%" id="goods_barcode_note" readonly='readonly' value="" >
  </td>
</tr>

<tr id="tr_goods_number" align="center">
  <td style="width:30%">数量</td>
  <td>
		<input type="text" style="width:90%" id="goods_number" value=""  onkeyup="value=value.replace(/[^\d]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">
  </td>
</tr>

<tr id="tr_goods_number_note" align="center">
  <td style="width:30%">提示</td>
  <td>
		<input type="text" style="width:90%" id="goods_number_note"  readonly='readonly' value="" >
  </td>
</tr>

<tr id="tr_to_location" align="center">
  <td style="width:30%">储位条码</td>
  <td >
		<input type="text" style="width:90%" id="to_location" value="" >
  </td>
</tr>

<tr id="tr_to_location_note" align="center">
  <td style="width:30%">提示</td>
  <td >
  		<input type="text" style="width:90%" id="to_location_note"  readonly='readonly' value="" >
  </td>
</tr>


<tr id="tr_current_page" align="center">
  <td style="width:30%">提示</td>
  <td>
		<input type="hidden" id="current_page" value="" />当前页面
  </td>
</tr>
<tr id="tr_current_func" align="center">
  <td style="width:30%">提示</td>
  <td>
		<input type="hidden" id="current_func" value="grouding" />当前功能
  </td>
</tr>


</table>


</br></br>
<!-- 按钮暂时替换 -->
<table class="bWindow" id= 'action_button'>
<tr id="tr_btn_action" align="center">
  <td>
	<input type='button' id='btn_from_location_over' name='FROM_LOCATION_OVER' value='上架容器完结' onclick="btn_action(this)"></input>
  </td>
  <td id='td_btn_to_location_over'>
  	<input type='button' id='btn_to_location_over' name='TO_LOCATION_OVER' value='储位完结' onclick="btn_action(this)"></input>
  </td>
  <td > 
  	<input type='button' id='btn_goods_over' name='GOODS_OVER' value='商品完结' onclick="btn_action(this)"></input>
  </td>
</tr>
</br>


</table>

</form>



</body>
</html>
