商品名,是否全新,条码,仓库,库位,总数量
{foreach from=$storage_list  item=goods}
{if $goods.location_validity_list}
{foreach from=$goods.location_validity_list key=key item=product}
"{$goods.goods_name}",{if $goods.status_id == 'INV_STTS_AVAILABLE'}全新{else}二手{/if},="{$goods.barcode}",="{$goods.facility_name}",{$product.location_barcode},{$goods.storage_count}
{/foreach}
{else}
"{$goods.goods_name}",{if $goods.status_id == 'INV_STTS_AVAILABLE'}全新{else}二手{/if},="{$goods.barcode}",="{$goods.facility_name}","",{$goods.storage_count}
{/if}
{/foreach}