<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/default.css" rel="stylesheet" type="text/css">
<title>库存查询</title>
</head>
<body>
<form>
商品类别：
<select name="goods_cagetory">
<option value="-1">所有</option>
<option value="1" {if $smarty.request.goods_cagetory == 1}selected{/if}>手机</option>
<option value="2" {if $smarty.request.goods_cagetory == 2}selected{/if}>手机配件</option>
<option value="3" {if $smarty.request.goods_cagetory == 3}selected{/if}>健康电子</option>
<option value="4" {if $smarty.request.goods_cagetory == 4}selected{/if}>DVD</option>
</select>
<input type="submit" value="搜索">
<input type="hidden" name="act" value="search">
</form>
<table class="bWindow">
<caption><h2>库存汇总</h2><br></caption>
<tr>
<th>品牌</th>
<th>机型</th>
<th>当前时间 - 入库时间(天)</th>
<th>个数</th>
<th>采购总金额</th>
</tr>
<tr align="center">
	<td>汇总</td>
	<td></td>
	<td>{$sum.total_days}
		<br>
			[平均]{$sum.avg_days}
	</td>
	<td>{$sum.total_count}</td>
	<td>{$sum.total_purchase_amount}
		<br>
		[平均]{$sum.avg_amount}
	</td>
</tr>
<!--{foreach from=$goods_list item=goods}-->
<tr align="center">
<td>{$goods.brand_name}</td>
<td>{$goods.goods_name}</td>
<td>{$goods.days}</td>
<td>{$goods.goods_count}</td>
<td>{$goods.amount}</td>
</tr>
<!--{/foreach}-->
</table>
</body>
</html>
